div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Tilbake til nettstedet

	h2.site__title
		| ER DET NOE ANNET DU LURER PÅ?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Hvorfor bør jeg velge ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT – den tryggeste måten å fylle på FIFA Ultimate Team-saldoen din på.
				p • Med våre priser er du bare noen få klikk unna drømmelaget ditt.
				p • Vi garanterer at kjøpet og kontoen din er sikre.
				p • I gjennomsnitt tar leveringen aldri mer enn et kvarter.
				p • Vi leverer mynter døgnet rundt, hele året.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| Hvordan endrer jeg EA-kontoopplysningene mine på nettstedet?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Med telefon:
				p 1. Åpne menyen til høyre ved å trykke på knappen med tre linjer.
				p 2. Trykk på brukernavnet ditt. Logg inn på ROYALFUT-kontoen din hvis du ikke har et brukernavn.
				p 3. Nederst på profilsiden din ser du et EA-kontoskjema.
				p Med datamaskin:
				p 1. Klikk på brukernavnet ditt øverst til høyre. Logg inn på ROYALFUT-kontoen din hvis du ikke har et brukernavn.
				p 2. Nederst på profilsiden din ser du et EA-kontoskjema.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| Når får jeg myntene?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p «Comfort trade» tar i gjennomsnitt aldri mer enn et kvarter.
				p Gjennomsnittstiden for spillerauksjoner er 40 minutter. Følg instruksjonene nøye for å motta myntene så raskt som mulig.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| Hvordan bruker jeg ROYALFUT-kupongen?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Du kan bruke kupongen når du betaler. De ulike kupongene gir forskjellige rabatter. Når du har brukt kupongen, blir kostnaden justert automatisk.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| Er det trygt å kjøpe mynter på ROYALFUT.COM?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Ja, det er helt trygt. Ingen av våre brukere har fått kontoen sin utestengt fra eller nullstilt i en FUT-klubb etter over 5000 bestillinger.
				p Vi bruker også pålitelige tredjeparts betalingssystemer for å ta imot betaling på nettstedet. Partnere som PayPal og PayApp bruker kryptering for å garantere at betalingene er helt sikre.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| Hvilke land er ROYALFUT tilgjengelig i?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Vi leverer mynter til FUT-spillere verden over.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Kjøper dere mynter fra brukere?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Ikke for øyeblikket. Vi kommer til å oppdatere emnet hvis dette endrer seg.
