section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.payment
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Tilbake til nettstedet

	h1.site__title
		| Betalings

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] tar imot betaling i euro. Det er bare registrerte brukere som kan utføre betalinger på nettstedet.
		p Betalingene organiseres gjennom det internasjonale betalingssystemer #[a(href="https://payver.eu/" target="_blank" noindex) payver] og #[a(href="https://paypal.com/" rel="noindex, nofollow" target="_blank" noindex) paypal]. Systemet vårt fungerer med alle betalinger som blir gjort med bankkort, uavhengig av hvilket land du bor i eller hvilken bank kortet ble utstedt fra. Når du betaler for en bestilling, kan du velge den betalingsmetoden som passer best for deg.
		p Når du kjøper det digitale produktet vårt, kan du være trygg på at pengene dine er trygge.
		p Du kan ikke returnere eller avbryte en bestilling du har betalt for.
