div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Вернуться назад

	h2.site__title
		| ОСТАЛИСЬ ВОПРОСЫ?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Почему именно ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT — самый безопасный сервис для быстрого пополнения баланса вашего клуба в FIFA Ultimate Team.
				p • С нашими ценами команда мечты, наконец, станет доступной
				p • Гарантия безопасности вашего аккаунта и платежей
				p • Среднее время доставки составляет 15 минут
				p • Круглосуточная доставка, без выходных и праздников.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| Как поменять данные аккаунта EA на сайте?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p С телефона:
				p 1. Откройте меню справа, нажав на кнопку с тремя полосками.
				p 2. Нажмите на свой никнейм. Если вы его не видите, войдите в свою учётную запись ROYALFUT.
				p 3. Внизу на странице профиля вы найдёте форму ввода данных EA аккаунта.
				p С десктоп-устройства:
				p 1. Нажмите на свой никнейм, расположенный в верхней правой части экрана. Если вы его не видите, войдите в свою учётную запись ROYALFUT.
				p 2. Внизу на странице профиля вы найдёте форму ввода данных EA аккаунта.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| Когда я получу монеты?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p Доставка комфортным методом в среднем осуществлется за 15 минут.
				p Среднее время доставки через "Трансферный рынок" - 40 минут. Постарайтесь выполнять инструкции оперативно и безошибочно, тогда вы получите монеты максимально быстро.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| Как воспользоваться купоном ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Применить купон можно на этапе оплаты. Каждый купон предлагает свою скидку. После применения сумма вашего заказа будет автоматически пересчитана.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| Покупка монет на сайте ROYALFUT.COM безопасна?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Да. Используя наши алгоритмы доставки монет, мы не допустили ни одного бана или обнуления клуба FUT за более чем 5000 заказов.
				p Также мы используем надёжных сторонних партнёров для организации платежей на сайте. Текущие партнёры, такие как PayPal и PayApp используют шифрование, защищающие ваши платежи на 100 %.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| В каких странах вы доступны?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Мы доступны по всему миру.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Скупаете ли вы монеты?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p На данный момент - нет. Обновим этот топик, если что-то изменится.
