section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.payment
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Вернуться назад

	h1.site__title
		| Оплата

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] принимает платежи в евро. Оплату может совершить только зарегистрированный пользователь.

		p Оплата осуществляется через международные платёжные системы #[a(href="https://payver.eu/" target="_blank" noindex) payver] и #[a(href="https://paypal.com/" rel="noindex, nofollow" target="_blank" noindex) paypal]. Наша система работает со всеми платежами, совершёнными с помощью банковских карт, независимо от вашей страны или банка, в котором вам была выдана карта. При оплате заказа вы можете выбрать наиболее подходящий для вас способ оплаты.

		p Совершив оплату, вы можете быть уверены, что ваши деньги в безопасности.

		p Вы не можете вернуть или отменить оплаченный заказ.
