section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.delivery
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Back to site

	h1.site__title
		| Delivery

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] is a new look at old things. The project involves record amount of suppliers who are eager to buy your players. Safest option to buy FUT coins on the Internet. Also we have developed a store-customer interaction system. Thanks to this system, we deliver your coins much faster.

		p To make the delivery of your coins as fast as possible, strictly follow the system's instructions.
