div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Back to site

	h2.site__title
		| STILL HAVE QUESTIONS?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Why should I choose ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT — is the safest way to quickly refill your FIFA Ultimate Team club balance.
				p • With our prices your dream team is just a few clicks away
				p • We guarantee the security of the purchase and your account
				p • Average delivery time does not exceed 15 minutes
				p • We deliver coins 24/7/365.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| How do I change my EA account details on the website?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Using the phone:
				p 1. Open the menu on the right by tapping the three bar button.
				p 2. Tap at your nickname. If there is no nickname, please log in to your ROYALFUT account.
				p 3. At the bottom of your profile page you will see the EA account data entry form.
				p Using the desktop device:
				p 1. Click at your nickname in the upper right corner of the screen. If there is no nickname, please log in to your ROYALFUT account.
				p 2. At the bottom of your profile page you will see the EA account data entry form.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| When will I receive the coins?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p The average time of the Comfort trade does not exceed 15 minutes.
				p The average delivery time via the Player auction is 40 minutes. Follow the instructions promptly and accurately to receive the coins as quickly as possible.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| How do I use the ROYALFUT coupon?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p You can apply the coupon at the checkout stage. Each coupon offers a different discount. After you apply the coupon, the cost of your purchase will be adjusted automatically.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| Is purchasing coins at ROYALFUT.COM safe?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Yes, it is completely safe. After more than 5000 orders successfully completed using our delivery algorithms, no user has ever encountered a FUT club ban or reset.
				p We also use reliable third-party payment systems to accept payments on the website. Our current partners like PayPal or PayApp use encryption to guarantee 100% safety of your payments.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| Which countries ROYALFUT operates in?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p We deliver the coins to FUT players worldwide.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Do you buy coins from users?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Not at the moment. We will update the topic if the situation changes.
