section.main.site__col-12.site__col-lg-7.site__col-xl-6.site__col-xxl-5.offset-xl-1.offset-xxl-2
	h1.site__title.site__title--1
		| BUY FUT 21 COINS
		br
		| Fast and secure

	include ../mainCalc

	//.main__calc-wrap
	//	button.main__calc__transfer-trade
	//		| use transfer trade
	//		span
	//			| +3.65$
	//	.main__calc__sign
	//		| Our system is fully automated.#[br] So we deliver coins as quickly as possible.
	.main__info
		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/purple.svg` alt="Figure")
			.main__card-title SAFEST OPTION
			.main__card-text Don't worry about the possible sanctions from EA. We are working with an improved algorithm, where 1 supplier buys only 1 player card during the execution of your order.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/blue.svg` alt="Figure")
			.main__card-title FAST AND SIMPLE
			.main__card-text Our system is fully automated, so we deliver coins as quickly as possible. Just a couple of clicks – and we'll do the rest.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/red.svg` alt="Figure")
			.main__card-title HUGE EXPERIENCE
			.main__card-text We have been selling coins since the days of FIFA 17, but we did it for wholesale buyers. Considering all the experience, we offer the best product for FUT players.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/yellow.svg` alt="Figure")
			.main__card-title LOWEST PRICES
			.main__card-text Any fees are covered by us. Our prices are ones of the lowest on the Internet.

	.main__buy
		.main__buy-head
			.main__buy-title HOW DOES
				|  #[span  COMFORT TRADE ] DELIVERY WORK?
			//a.main__buy-button See how transfer mode works
		.main__buy-container
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 1
				.main__buy-text
					| Choose the platform and the amount of coins.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 2
				.main__buy-text
					| Enter your e-mail, password, and the backup codes.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 3
				.main__buy-text
					| The coins are in your FUT club. Have a nice game!

	include ./faq
	script(async src="https://f.royalfut.com/2abe5b48d2731f8b7232d53248d2ef44.js")
