section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.payment
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Back to site

	h1.site__title
		| Payment

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] accepts payments in euros. Only registered users can make payments on the website.
		p The payments are organized through the #[a(href="https://payver.eu/" target="_blank" noindex) payver] and #[a(href="https://paypal.com/" rel="noindex, nofollow" target="_blank" noindex) paypal] international payment systems. Our system works with all payments made through bank cards, regardless of your country or the bank where the card was issued to you. When paying an order, you can choose the most suitable payment method for you.
		p When purchasing our digital product, you can be sure your money is safe.
		p You can’t return or cancel a paid order.
