div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span العودة إلى الموقع

	h2.site__title
		| لا تزال لديك أسئلة؟

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| لماذا ينبغي عليّ اختيار ROYALFUT؟
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT هو أسرع طريقة لإعادة تعبئة رصيدك في نادي FIFA Ultimate Team.
				p • مع أسعارنا، يمكنك تكوين فريق أحلامك من خلال بضع نقرات
				p • نضمن أمان عملية الشراء وحسابك
				p • لا يتجاوز متوسط وقت التسليم 15 دقيقة
				p • نوفر العملات على مدار الساعة طول أيام الأسبوع بدون أي إجازات (24/7/365).

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					|كيف أغير تفاصيل حساب EA الخاص بي على الموقع الإلكتروني؟
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p باستخدام الهاتف:
				p 1. افتح القائمة بالضغط على الزر الثلاثي الأشرطة.
				p 2. اضغط على اسمك المستعار. إذا لم يكن هناك اسم مستعار، فالرجاء تسجيل الدخول إلى حساب ROYALFUT الخاص بك.
				p 3. في الجزء السفلي من صفحة ملفك التعريفي، سترى نموذج إدخال بيانات حساب EA.
				p باستخدام جهاز مكتبي:
				p 1. انقر على اسمك المستعار في الزاوية العليا اليمنى من الشاشة. إذا لم يكن هناك اسم مستعار، فالرجاء تسجيل الدخول إلى حساب ROYALFUT الخاص بك.
				p 2. في الجزء السفلي من صفحة ملفك التعريفي، سترى نموذج إدخال بيانات حساب EA.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| متى سأحصل على العملات؟
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p ا يتجاوز متوسط وقت طريقة التسليم التداول المريح مدة 15 دقيقة.
				p متوسط وقت التسليم عبر طريقة مزاد اللاعب هو 40 دقيقة. الرجاء اتباع التعليمات بشكل فوري ودقيق لتتلقى العملات في أسرع وقت ممكن.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					|كيف أستخدم قسيمة ROYALFUT؟
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p يمكنك ستخدام القسيمة في مرحلة إتمام الشراء. توفر كل قسيمة خصمًا مختلفًا. بعد استخدام القسيمة، سيتم تعديل تكلفة الشراء تلقائيًا.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| هل شراء العملات من ROYALFUT.COM آمن؟
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p نعم، إنها عملية آمنة تمامًا. بعد إتمام أكثر من 5000 طلب شراء بنجاح باستخدام أنظمة التسليم لدينا، لم يتعرض مطلقًا أي مستخدم لحظر أو تصفير رصيد في نادي FUT.
				p نستخدم أيضًا أنظمة دفع خارجية موثوقًا بها لقبول المدفوعات على موقعنا الإلكتروني. ويستخدم شركاؤنا الحاليون، مثل PayPal أو PayApp، أنظمة تشفير لضمان أمان مدفوعاتك بنسبة 100%.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| ما الدول التي يعمل بها ROYALFUT؟
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p نستطيع تسليم العملات إلى لاعبي FUT في جميع أنحاء العالم.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| هل تشترون العملات من مستخدمين؟
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p لا، ليس في الوقت الحالي. سنُحدِّث هذا الأمر إذا تغير موقفنا.
