section.main.site__col-12.site__col-lg-7.site__col-xl-6.site__col-xxl-5.offset-xl-1.offset-xxl-2.order
	h1.site__title.site__title--2
		| سرعة وامان بتوصيل&nbsp;
		br
		| عملات 21 FUT المعدنية
	include ../../components/siteListOrder