section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.payment
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span العودة إلى الموقع

	h1.site__title
		| الدفع

	.site__text
		p يقبل #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] الدفع باليورو. وحدهم المستخدمون المسجلون من يمكنهم الدفع على الموقع الإلكتروني.
		p يتم تنظيم المدفوعات عبر نظامي الدفع الدوليين #[a(href="https://payver.eu/" target="_blank" noindex) payver] و#[a(href="https://paypal.com/" rel="noindex, nofollow" target="_blank" noindex) paypal]. يعمل نظامنا مع جميع المدفوعات التي تم إجراؤها باستخدام البطاقات المصرفية، بغض النظر عن بلدك أو البنك الذي تم إصدار البطاقة منه. عند الدفع مقابل طلب، يمكنك اختيار طريقة الدفع الأنسب لك.
		p عند شراء منتجنا الرقمي، يمكنك أن تثق أن أموالك في أمان.
		p لا يمكنك إرجاع أو إلغاء طلب مدفوع.
