section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.delivery
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span 回到现场

	h1.site__title
		| 交付区

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] 展现了传统业务的全新面貌。本项目吸纳了创纪录数量的供应商，他们渴望购买您的球员。我们是您在网络上购买 FUT 金币最安全的选择。此外，我们还开发了一套商店顾客互动系统。借助该系统，我们将更快地交付您的金币。

		p 为了尽快交付您的金币，请严格遵守系统的指示。
