div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span 回到现场

	h2.site__title
		| 还有问题？

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| 我为什么应该选择 ROYALFUT？
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT — 是快速充值 FIFA Ultimate Team 俱乐部余额的最安全方式。
				p • 有了我们的价格，您的梦之队只需要几下单击
				p • 我们保证购买和您的账户安全
				p • 平均交付时间不超过15分钟
				p • 24/7/365交付金币。

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| 如何在网站上更改我的 EA 账户详情？
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p 使用电话：
				p 1. 轻击三栏按钮打开右边的菜单
				p 2. 点击昵称。如果没有昵称，请登入您的 ROYALFUT 账户。
				p 3. 在您的简档底部您将会看到 EA 账户数据输入表。
				p 使用桌面设备：
				p 1. 点击屏幕右上角的昵称。如果没有昵称，请登入您的 ROYALFUT 账户。
				p 2. 在您的简档底部您将会看到 EA 账户数据输入表。

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| 我什么时候能收到金币？
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p “舒适交付”平均时间不超过15分钟。
				p “玩家拍卖”方法的平均交付时间为40分钟。及时准确地按照指示进行操作，以尽快收到金币。

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| 如何使用 ROYALFUT 优惠券？
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p 您可以在结账阶段使用优惠券。每张优惠券提供不同的折扣。使用优惠券后，您的购买费用将自动调整。

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| 在 ROYALFUT.COM 购买金币安全吗？
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p 是的，完全安全。用户已经使用我们的交付算法成功完成了5000多个订单，没有人遇到过 FUT 俱乐部禁止或重置。
				p 我们也用第三方支付系统接受网上支付。我们当前的合作伙伴，如 PayPal 或 PayApp，使用加密以保证您的支付100%安全。

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| ROYALFUT 在哪些国家运营？
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p 我们向全世界的 FUT 玩家交付金币。

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| 你们从用户手里购买金币吗？
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p 目前没有。如果情况改变的话，我们将更新标题。
