div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Voltar ao local

	h2.site__title
		| AINDA TENS PERGUNTAS?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Porque escolheria o ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT — é a forma mais segura de voltares a encher o saldo do teu clube FIFA Ultimate Team.
				p • Com os nossos preços, a tua equipa de sonho está apenas a uns cliques de distância
				p • Garantimos a segurança da compra e da tua conta
				p • A entrega média não excede 15 minutos
				p • Entregamos moedas 24 horas por dia, 7 dias por semana, 365 dias por ano.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| Como altero os meus dados de conta EA no site?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Utilizando o telefone:
				p 1. Abre o menu na direita tocando no botão com três barras.
				p 2. Insere o teu nickname. Se não tiveres nickname, inicia sessão na tua conta ROYALFUT.
				p 3. No fundo da tua página de perfil irás ver o formulário de inserção da conta EA.
				p Utilizando um computador pessoal:
				p 1. Clica no teu nickname no canto superior direito do ecrã. Caso não tenhas nickname, inicia sessão na tua conta ROYALFUT.
				p 2. No fundo da tua página de perfil irás ver o formulário de inserção da conta EA.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| Quando vou receber as moedas?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p O tempo médio da negociação Comfort não excede 15 minutos.
				p O tempo médio de entrega através do leilão de Jogador é de 40 minutos. Segue as instruções de forma rápida e precisa para receberes as moedas o mais rapidamente possível.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| Como utilizo o cupão ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Podes aplicar o cupão na fase do checkout. Cada cupão oferece um desconto diferente. Depois de aplicares o cupão, o custo da tua compra irá ser ajustado automaticamente.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| Comprar moedas no ROYALFUT.COM é seguro?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Sim, é completamente seguro. Depois de mais de 5000 encomendas concluídas com sucesso utilizando os nossos algoritmos de entregar, nenhuma vez algum utilizador teve um clube FUT reiniciado ou banido.
				p Também utilizados sistemas de pagamentos de terceiros fiáveis para aceitar pagamentos no site. Os nossos parceiros atuais, como o PayPal ou o PayApp utilizam encriptação para garantir a 100% a segurança dos teus pagamentos.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| Em que países é que o ROYALFUT opera?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Fornecemos as moedas a jogadores FUT de todo o mundo.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Compram moedas dos utilizadores?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Não de momento. Iremos atualizar este tema se a situação se alterar.
