div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Tillbaka till platsen

	h2.site__title
		| HAR DU FLER FRÅGOR?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Varför ska jag välja ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT är det säkraste sättet att fylla på ditt FIFA Ultimate Team-saldo.
				p • Med våra priser är drömlaget bara några klick bort
				p • Vi garanterar säkerheten för dina betaluppgifter och ditt konto
				p • Genomsnittlig leveranstid på mindre än en kvart
				p • Vi levererar mynt dygnet runt

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| Hur ändrar jag EA-kontouppgifter på webbplatsen?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Via mobil:
				p 1. Öppna menyn till höger genom att trycka på knappen med tre streck.
				p 2. Tryck på ditt användarnamn. Logga in på ditt ROYALFUT-konto om det inte visas.
				p 3. Längst ner på din profilsida finns formuläret för EA-kontouppgifter.
				p Via dator:
				p 1. Klicka på ditt användarnamn högst upp till höger. Logga in på ditt ROYALFUT-konto om det inte visas.
				p 2. Längst ner på din profilsida finns formuläret för EA-kontouppgifter.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| När får jag mynten?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p Om du beställer med smidig leverans tar det inte mer än en kvart.
				p Den genomsnittliga tiden för leverans via spelarauktion är 40 minuter. Följ instruktionerna noga för att få mynten så snabbt som möjligt.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| Hur använder jag ROYALFUT-kupongen?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Du kan använda kupongen vid utcheckning. Olika kuponger ger olika rabatt. När du har använt kupongen justeras köpesumman därefter.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| Är det säkert att köpa mynt på ROYALFUT.COM?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Ja, det är helt säkert. Vi har fullföljt mer än 5 000 beställningar, och ingen av våra kunder har blivit avstängda eller fått sina FUT-klubbar nollställda.
				p Vi använder pålitliga betalningssystem från tredje part på vår webbplats. Tjänster som PayPal och PayApp krypterar betalningarna och gör dem 100 % säkra.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| Vilka länder kan man använda ROYALFUT i?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Vi levererar mynt till FUT-spelare världen över.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Köper ni mynt av användare?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Köper ni mynt av användare?
