section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.payment
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Tillbaka till platsen

	h1.site__title
		| Betalnings

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] accepterar betalningar i euro. Det krävs ett konto för att göra betalningar på webbplatsen.
		p Alla betalningar görs via #[a(href="https://payver.eu/" target="_blank" noindex) payver] och #[a(href="https://paypal.com/" rel="noindex, nofollow" target="_blank" noindex) paypal], som är internationella betalningssystemen. Det tar emot alla betalningar från bankkort, oavsett vilket land du bor i eller vilken bank som utfärdade kortet. Du kan välja det betalsätt som passar dig bäst när du betalar för din beställning.
		p Du kan lita på att dina pengar är i trygga händer när du handlar hos oss.
		p Det går inte att ångra eller avbryta betalda beställningar.
