-
	var content = {
		ru: {
			sublogo: 'Монеты FIFA 21',
			lang: 'en-GB',
			menuSignIn: 'Войти',
			menuLinkOrder: 'Купить монеты',
			menuLinkDesc: 'Наша система полностью автоматизирована, <br/>поэтому мы доставляем монеты в любое время, 24/7',
			menuLinkReviews: 'Отзывы',
			menuLinkFaq: 'FAQ',
			menuLinkDelivery: 'Доставка',
			footerLinkContact: 'Контакты',
			footerLinkDelivery: 'Доставка',
			footerLinkPayment: 'Платежи',
			footerLinkPrivacy: 'Конфиденциальность',
			footerLinkTerms: 'Условия и положения',
			sidebarTitle: 'Последние отзывы',
			sidebarAllLink: 'Все отзывы',
			modalSocialSigin: 'Зарегистрируйтесь через:',
			modalSocialSiginFB: 'Зарегистрируйтесь через FaceBook',
			modalSocialSiginGoogle: 'Зарегистрируйтесь через Google',
			modalSocialForgot: 'Забыли пароль?',
			modalSocialOr: 'Или',
			modalSocialLogin: 'Войдите через:',
			modalSocialLoginFB: 'Войти через FaceBook',
			modalSocialLoginGoogle: 'Войти через Google',
			modalSocialForgot: 'Я принимаю ',
			modalSocialLoginCheck: 'Условия и положения',
			modalTabSignUp: 'Регистрация',
			modalTabSignIn: 'Вход',
			modalSignEmail: 'Почта',
			modalSignLogin: 'Логин',
			modalSignPassword: 'Пароль',
			modalSignSeePassword: 'Посмотреть пароль',
			modalSignSymbols8: 'не менее 8 символов',
			modalSignSymbols3: 'не менее 3 символов',
			modalSignBtnIn: 'Войти',
			modalSignBtnUp: 'Зарегистрироваться',
			modalSignTerms: 'Нажимая кнопку "Зарегистрироваться" выше, вы принимаете <a href="/ru/terms/">условия и положения</a>',
			pagePlatformName: 'Платформа',
			pagePlatformName2: 'Платформа',
			pagePlatformMark: 'Новинка!',
			pageAmountName: 'КОЛИЧЕСТВО МОНЕТ',
			pageAmountCoinsLabel: 'Монеты',
			pageAmountAmountLabel: 'Цена',
			pageAmountNext: 'Продолжить',
			pageMethodName: 'СПОСОБ ДОСТАВКИ',
			pageMethodCard1Name: 'Комфортный',
			pageMethodCard1Text: 'Требуется только информация о вашей учётной записи FUT 21. Всё остальное мы сделаем за вас.',
			pageMethodCard2Name: 'ТРАНСФЕРНЫЙ РЫНОК',
			pageMethodCard2Text: 'Вам нужно будет следовать нашим инструкциям. Быстро, но вручную.',
			pageMethodCardBtn: 'Выбрать',
			pageMethodCardSoon: 'Скоро',
			pagePaymentMethodName: 'ОПЛАТА',
			pagePaymentMethodSafe: '100% БЕЗОПАСНЫЕ ПЛАТЕЖИ',
			pagePaymentMethodTotalAmount: 'Общая сумма',
			pagePaymentMethodCoupon: 'Купон',
			pagePaymentMethodCouponHave: 'Есть купон',
			pagePaymentMethodCouponApply: 'Применить купон',
			pagePaymentMethodPay: 'Оплатить картой',
			pagePaymentMethodPayOther: 'Оплатить другим способом',
			pageDeliveryName: 'ДОСТАВКА <div class="site__tab-name-content">вашего заказа №<span></span></div>',
			pageDeliveryTab1: 'Игровой <br class="for-mobile">аккаунт',
			pageDeliveryTab2: 'Резервные <br class="for-mobile">коды',
			pageDeliveryTab3: 'Обработка',
			pageDeliveryTab4: 'Выполнено',
			pageDeliveryFormSuccess: 'Заказ отправлен, статус заказа: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Посмотреть заказы',
			pageDeliveryContent1Name: 'Введите данные своей учётной записи EA',
			pageDeliveryContent1Text: 'Вы выбрали Комфортный способ доставки. Это означает, что мы будем продавать игроков от вашего имени. <br>Мы используем вашу учётную запись только для организации трансфера игроков, не для каких-либо других целей. <br>После оформления заказа мы рекомендуем вам сменить пароль от вашей учётной записи.',
			pageDeliveryContent1Email: 'Почта',
			pageDeliveryContent1Password: 'Пароль',
			pageDeliveryContent1SeePassword: 'Посмотреть пароль',
			pageDeliveryContent1Next: 'Далее',
			pageDeliveryContent2Name: 'Введите 8-значный код',
			pageDeliveryContent2Text: 'Вы можете получить этот код на <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> на странице «Безопасность» в разделе «Коды резервной копии».',
			pageDeliveryContent2Code: 'Введите код',
			pageDeliveryContent2CodePlaceholder: 'Резервные коды',
			pageDeliveryContent2Next: 'Далее',
			pageDeliveryContent3Name: 'Используем вашу учётную запись',
			pageDeliveryContent3Process1: 'Не используйте свою учётную запись, пока мы осуществляем трансфер',
			pageDeliveryContent3Process2: 'Вы можете покинуть эту страницу. Мы отправим вам письмо на электронную почту, когда ваш заказ будет выполнен.',
			sidebarTrust: 'ru-RU',
			sidebarTrustWidth: '312px',
			cookieTitle: 'Мы используем файлы cookie',
			cookieText: 'Наш веб-сайт использует файлы cookie, чтобы вам было удобнее его просматривать. Оставаясь на этом сайте, вы соглашаетесь на использование файлов cookie. Прочтите нашу Политику конфиденциальности.',
			cookieButton: 'Согласен',
			commentReviews: 'отзывов',
			commentRated: 'Рейтинг',
			commentOut: 'из',
			commentUrl: 'https://ru.trustpilot.com/review/royalfut.com',
		},
		en: {
			sublogo: 'FIFA 21 coins',
			lang: 'en-GB',
			menuSignIn: 'Log in',
			menuLinkOrder: 'Buy coins',
			menuLinkDesc: 'Our system is fully automated, <br>so we deliver coins at any time of day, 24/7.',
			menuLinkReviews: 'Reviews',
			menuLinkFaq: 'FAQ',
			menuLinkDelivery: 'Delivery',
			footerLinkContact: 'Contacts',
			footerLinkDelivery: 'Delivery',
			footerLinkPayment: 'Payment',
			footerLinkPrivacy: 'Privacy',
			footerLinkTerms: 'Terms and condtitions',
			sidebarTitle: 'Latest reviews',
			sidebarAllLink: 'All reviews',
			modalSocialSigin: 'Sign up via',
			modalSocialSiginFB: 'Sign up via FaceBook',
			modalSocialSiginGoogle: 'Sign up via Google',
			modalSocialForgot: 'Forgot your password?',
			modalSocialOr: 'or',
			modalSocialLogin: 'Log in via',
			modalSocialLoginFB: 'Log in FaceBook',
			modalSocialLoginGoogle: 'Log in Google',
			modalSocialForgot: 'I accept ',
			modalSocialLoginCheck: 'Terms and Conditions',
			modalTabSignUp: 'Sign up',
			modalTabSignIn: 'Log in',
			modalSignEmail: 'Email',
			modalSignLogin: 'Username',
			modalSignPassword: 'Password',
			modalSignSeePassword: 'See password',
			modalSignSymbols8: 'at least 8 letters',
			modalSignSymbols3: 'at least 3 characters long',
			modalSignBtnIn: 'Log in',
			modalSignBtnUp: 'Sign up',
			modalSignTerms: 'Click "Sign up" above to accept the the <a href="/terms/">Terms and Conditions</a>',
			pagePlatformName: 'Platform',
			pagePlatformName2: 'Platform',
			pagePlatformMark: 'New!',
			pageAmountName: 'COINS AMOUNT',
			pageAmountCoinsLabel: 'Coins',
			pageAmountAmountLabel: 'Amount',
			pageAmountNext: 'Proceed',
			pageMethodName: 'DELIVERY METHOD',
			pageMethodCard1Name: 'Comfort trade',
			pageMethodCard1Text: 'Only your FUT 21 account information is required. We do the rest for you.',
			pageMethodCard2Name: 'Manual',
			pageMethodCard2Text: 'You will need to follow the instructions we provide. Fast but manual.',
			pageMethodCardBtn: 'Choose',
			pageMethodCardSoon: 'SOON',
			pagePaymentMethodName: 'PAYMENT',
			pagePaymentMethodSafe: '100% secure payments',
			pagePaymentMethodTotalAmount: 'Total amount',
			pagePaymentMethodCoupon: 'Coupon',
			pagePaymentMethodCouponHave: 'Have a coupon',
			pagePaymentMethodCouponApply: 'APPLY coupon',
			pagePaymentMethodPay: 'Pay by card',
			pagePaymentMethodPayOther: 'Pay with something',
			pageDeliveryName: 'DELIVERING <div class="site__tab-name-content">your order №<span></span></div>',
			pageDeliveryTab1: 'Game <br class="for-mobile">account',
			pageDeliveryTab2: 'Backup <br class="for-mobile">codes',
			pageDeliveryTab3: 'Processing',
			pageDeliveryTab4: 'Done',
			pageDeliveryFormSuccess: 'Order shipped, order status: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'View orders',
			pageDeliveryContent1Name: 'Enter your EA account details',
			pageDeliveryContent1Text: 'You have chosen the Easy method. This means that we will sell players on your behalf. <br>We use your account only to arrange transfers and not for any other purpose. <br>After your order is complete, we recommend you to change the password for your account.',
			pageDeliveryContent1Email: 'E-mail',
			pageDeliveryContent1Password: 'Password',
			pageDeliveryContent1SeePassword: 'See password',
			pageDeliveryContent1Next: 'Next',
			pageDeliveryContent2Name: 'Enter the 8-digit code',
			pageDeliveryContent2Text: 'You can get this code on <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> on the "Security" page in the Backup codes section',
			pageDeliveryContent2Code: 'Enter code',
			pageDeliveryContent2CodePlaceholder: 'Backup code',
			pageDeliveryContent2Next: 'Next',
			pageDeliveryContent3Name: 'Using your account',
			pageDeliveryContent3Process1: 'Do not use your account while we are transfering',
			pageDeliveryContent3Process2: 'You may leave this page. We will send you an e-mail when your order is completed.',
			sidebarTrust: 'en-GB',
			sidebarTrustWidth: '236px',
			cookieTitle: 'We are using cookie',
			cookieText: 'Our website uses cookies to make your browsing experience better. By using this website you agree to our use of cookies. Read our Privacy Policy',
			cookieButton: 'Got it',
			commentReviews: 'reviews',
			commentRated: 'Rated',
			commentOut: 'out',
			commentUrl: 'https://uk.trustpilot.com/review/royalfut.com',
		},
		de: {
			sublogo: 'FIFA 21 münzen',
			lang: 'en-GB',
			menuSignIn: 'ANMELDEN',
			menuLinkOrder: 'MÜNZEN KAUFEN',
			menuLinkDesc: 'Unser System ist voll automatisiert, <br>deshalb liefern Ihre Münzen rund um die Uhr zu jeder Tageszeit.',
			menuLinkReviews: 'Gästebewertungen',
			menuLinkFaq: 'FAQ',
			menuLinkDelivery: 'Versand',
			footerLinkContact: 'Kontakt',
			footerLinkDelivery: 'Versand',
			footerLinkPayment: 'Zahlung',
			footerLinkPrivacy: 'Datenschutz',
			footerLinkTerms: 'Nutzungsbedingungen zu akzeptieren',
			sidebarTitle: 'Neueste Bewertungen',
			sidebarAllLink: 'Alle Bewertungen',
			modalSocialSigin: 'Anmelden mit',
			modalSocialSiginFB: 'Anmelden mit FaceBook',
			modalSocialSiginGoogle: 'Anmelden mit Google',
			modalSocialForgot: 'Passwort vergessen?',
			modalSocialOr: 'oder',
			modalSocialLogin: 'Anmelden mit',
			modalSocialLoginFB: 'Anmelden mit FaceBook',
			modalSocialLoginGoogle: 'Anmelden mit Google',
			modalSocialForgot: 'Ich ',
			modalSocialLoginCheck: 'akzeptiere die Nutzungsbedingungen',
			modalTabSignUp: 'REGISTRIEREN',
			modalTabSignIn: 'ANMELDEN',
			modalSignEmail: 'E-mail',
			modalSignLogin: 'Benutzername',
			modalSignPassword: 'Passwort',
			modalSignSeePassword: 'Siehe Passwort',
			modalSignSymbols8: 'mindestens 8 Buchstaben',
			modalSignSymbols3: 'mindestens 3 Zeichen lang',
			modalSignBtnIn: 'ANMELDEN',
			modalSignBtnUp: 'REGISTRIEREN',
			modalSignTerms: 'Klicken Sie oben auf "Registrieren", um die <a href="/de/terms/">Nutzungsbedingungen zu akzeptieren</a>',
			pagePlatformName: 'Plattform',
			pagePlatformName2: 'Plattform',
			pagePlatformMark: 'NEU!',
			pageAmountName: 'ANZAHL MÜNZEN',
			pageAmountCoinsLabel: 'Münzen',
			pageAmountAmountLabel: 'Anzahl',
			pageAmountNext: 'Fortsetzen',
			pageMethodName: 'VERSANDART',
			pageMethodCard1Name: 'Komforthandel',
			pageMethodCard1Text: 'Nur Ihre FUT 21 Konto-Informationen sind erforderlich. Wir erledigen den Rest.',
			pageMethodCard2Name: 'Manual',
			pageMethodCard2Text: 'Befolgen Sie unsere Anweisungen. Schnell, sicher, aber nicht automatisch.',
			pageMethodCardBtn: 'auswählen',
			pageMethodCardSoon: 'Demnächst',
			pagePaymentMethodName: 'ZAHLUNG',
			pagePaymentMethodSafe: '100 % SICHERE ZAHLUNGEN',
			pagePaymentMethodTotalAmount: 'Gesamtzahl',
			pagePaymentMethodCoupon: 'Gutschein',
			pagePaymentMethodCouponHave: 'Ich habe einen Gutschein',
			pagePaymentMethodCouponApply: 'Gutschein VERWENDEN',
			pagePaymentMethodPay: 'Mit Karte zahlen',
			pagePaymentMethodPayOther: 'Mit etwas bezahlen',
			pageDeliveryName: 'Ihre Bestellung <div class="site__tab-name-content">Nr.<span></span>wird VERSANDT</div>',
			pageDeliveryTab1: 'Spielkonto',
			pageDeliveryTab2: 'Backup-<br class="for-mobile">codes',
			pageDeliveryTab3: 'Verarbeitung',
			pageDeliveryTab4: 'Fertig',
			pageDeliveryFormSuccess: 'Bestellung versandt. Status der Bestellung: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Bestellung anzeigen',
			pageDeliveryContent1Name: 'Geben Sie Ihre EA-Konto-Informationen ein',
			pageDeliveryContent1Text: 'Sie haben die Methode Easy gewählt. Das bedeutet, dass wir die Spieler in Ihrem Namen verkaufen. <br>Wir verwenden Ihr Konto ausschließlich für die Transfers und für keinen anderen Zweck. <br>Es empfiehlt sich, Ihr Konto-Passwort nach dem Abschluss der Bestellung zu ändern.',
			pageDeliveryContent1Email: 'E-Mail Adresse',
			pageDeliveryContent1Password: 'Passworеt',
			pageDeliveryContent1SeePassword: 'Siehe Passwort',
			pageDeliveryContent1Next: 'Weiter',
			pageDeliveryContent2Name: 'Geben Sie den achtstelligen Code ein',
			pageDeliveryContent2Text: 'Sie erhalten diesen Code unter <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> auf der Seite "Sicherheit" im Abschnitt der Backup-Code ',
			pageDeliveryContent2Code: 'Code eingeben',
			pageDeliveryContent2CodePlaceholder: 'Backup-code',
			pageDeliveryContent2Next: 'Weiter',
			pageDeliveryContent3Name: 'Verwendung des Kontos',
			pageDeliveryContent3Process1: 'Verwenden Sie Ihr Konto nicht, während wir den Transfer abwickeln.',
			pageDeliveryContent3Process2: 'Sie können diese Seite verlassen. Wir senden Ihnen eine E-Mail, wenn Ihre Bestellung abgeschlossen ist.',
			sidebarTrust: 'de-DE',
			sidebarTrustWidth: '335px',
			cookieTitle: 'Wir verwenden Cookies',
			cookieText: 'Unsere Website verwendet Cookies, um Ihr Internet-Erlebnis zu verbessern. Durch die Nutzung der Website stimmen Sie der Verwendung von Cookies zu. Datenschutzbestimmungen lesen',
			cookieButton: 'Verstanden',
			commentReviews: 'Bewertungen',
			commentRated: 'Bewertung',
			commentOut: 'von',
			commentUrl: 'https://de.trustpilot.com/review/royalfut.com',
		},
		fr: {
			sublogo: 'Crédits FIFA 21',
			lang: 'en-GB',
			menuSignIn: 'SE CONNECTER',
			menuLinkOrder: 'ACHETER DES CRÉDITS',
			menuLinkDesc: 'Notre système étant entièrement automatisé, <br>nous livrons donc des crédits à tout moment de la journée, 24h / 24 et 7j / 7.',
			menuLinkReviews: 'Examen',
			menuLinkFaq: 'FAQ',
			menuLinkDelivery: 'Livraison',
			footerLinkContact: 'Contacts',
			footerLinkDelivery: 'Livraison',
			footerLinkPayment: 'Paiement',
			footerLinkPrivacy: 'Confidentialité',
			footerLinkTerms: 'Conditions générales',
			sidebarTitle: 'Les dernières critiques',
			sidebarAllLink: 'Tous les commentaires',
			modalSocialSigin: "S'enregistrer via",
			modalSocialSiginFB: "S'enregistrer via FaceBook",
			modalSocialSiginGoogle: "S'enregistrer via Google",
			modalSocialForgot: 'Mot de passe oublié ?',
			modalSocialOr: 'ou',
			modalSocialLogin: 'Se connecter via',
			modalSocialLoginFB: 'Se connecter via FaceBook',
			modalSocialLoginGoogle: 'Se connecter via Google',
			modalSocialForgot: "J'accepte ",
			modalSocialLoginCheck: ' les Conditions générales',
			modalTabSignUp: "S'enregistrer",
			modalTabSignIn: 'SE CONNECTER',
			modalSignEmail: 'E-mail',
			modalSignLogin: "Nom d'utilisateur",
			modalSignPassword: 'Mot de passe',
			modalSignSeePassword: 'Voir le mot de passe',
			modalSignSymbols8: 'au moins 8 lettres',
			modalSignSymbols3: 'au moins 3 caractères',
			modalSignBtnIn: 'Connecter',
			modalSignBtnUp: "S'enregistrer",
			modalSignTerms: `En cliquant sur «S'enregistrer» ci-dessus, vous acceptez les <a href="/fr/terms/">Conditions générales</a>`,
			pagePlatformName: 'Plateforme',
			pagePlatformName2: 'Plateforme',
			pagePlatformMark: 'NOUVEAU!',
			pageAmountName: 'NOMBRE DE CRÉDITS',
			pageAmountCoinsLabel: 'Crédits',
			pageAmountAmountLabel: 'Nombre',
			pageAmountNext: 'Continuer',
			pageMethodName: 'MODE DE LIVRAISON',
			pageMethodCard1Name: 'Transaction confort',
			pageMethodCard1Text: 'Seules les informations relatives à votre compte FUT 21 sont requises. Nous nous occupons du reste.',
			pageMethodCard2Name: 'MANUEL',
			pageMethodCard2Text: 'Vous devrez suivre les instructions fournies. Rapide, sûr, mais manuel.',
			pageMethodCardBtn: 'sélectionner',
			pageMethodCardSoon: 'Bientôt disponible',
			pagePaymentMethodName: 'PAIEMENT',
			pagePaymentMethodSafe: 'PAIEMENTS 100 % SÉCURISÉS',
			pagePaymentMethodTotalAmount: 'Nombre total',
			pagePaymentMethodCoupon: 'Coupon',
			pagePaymentMethodCouponHave: 'Si vous avez un coupon',
			pagePaymentMethodCouponApply: 'cliquez sur APPLIQUER',
			pagePaymentMethodPay: 'Paiement par carte',
			pagePaymentMethodPayOther: 'Payer avec quelque chose',
			pageDeliveryName: 'LIVRAISON <div class="site__tab-name-content">de votre commande №<span></span></div>',
			pageDeliveryTab1: 'Compte <br class="for-mobile">du jeu',
			pageDeliveryTab2: 'Codes <br class="for-mobile">de sauvegarde',
			pageDeliveryTab3: 'Traitement <br class="for-mobile">en cours',
			pageDeliveryTab4: 'Terminé',
			pageDeliveryFormSuccess: 'Commande expédiée, état de la commande: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Afficher les commandes',
			pageDeliveryContent1Name: 'Entrer les détails de votre EA compte',
			pageDeliveryContent1Text: "Vous avez opté pour le mode «Facile». Cela signifie que nous allons vendre des joueurs en votre nom. <br>Nous utilisons votre compte à la seule fin d'effectuer des transferts et à aucune autre. <br>Une fois votre commande terminée, nous vous recommandons de modifier le mot de passe de votre compte.",
			pageDeliveryContent1Email: 'E-mail',
			pageDeliveryContent1Password: 'Mot de passe',
			pageDeliveryContent1SeePassword: 'Voir le mot de passe',
			pageDeliveryContent1Next: 'Suivant',
			pageDeliveryContent2Name: 'Entrer le code à 8 chiffres',
			pageDeliveryContent2Text: 'Pour obtenir ce code, allez sur <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a>, à la page «Sécurité» dans la rubrique «Code de sauvegarde»',
			pageDeliveryContent2Code: 'Entrer le code',
			pageDeliveryContent2CodePlaceholder: 'Code de sauvegarde',
			pageDeliveryContent2Next: 'Suivant',
			pageDeliveryContent3Name: "Compte en cours d'utilisation",
			pageDeliveryContent3Process1: "N'utilisez pas votre compte pendant le transfert",
			pageDeliveryContent3Process2: 'Vous pouvez quitter cette page. Nous vous enverrons un e-mail dès que votre commande sera terminée.',
			sidebarTrust: 'fr-FR',
			sidebarTrustWidth: '219px',
			cookieTitle: 'Nous utilisons des cookies',
			cookieText: 'Notre site Web utilise des cookies pour améliorer votre expérience de navigation. En utilisant ce site Web, vous acceptez leur utilisation. Lire notre politique de confidentialité',
			cookieButton: "J'ai compris",
			commentReviews: 'Bewertungen',
			commentRated: 'Noté',
			commentOut: 'sur',
			commentUrl: 'https://fr.trustpilot.com/review/royalfut.com',
		},
		it: {
			sublogo: 'Crediti FIFA 21',
			lang: 'en-GB',
			menuSignIn: 'ACCEDI',
			menuLinkOrder: 'Acquista crediti',
			menuLinkDesc: 'Grazie al nostro sistema completamente automatizzato <br>siamo in grado di consegnare le crediti in qualsiasi momento della giornata, 24 ore su 24, 7 giorni su 7.',
			menuLinkReviews: 'Recensione',
			menuLinkFaq: 'Domande frequenti',
			menuLinkDelivery: 'Consegna',
			footerLinkContact: 'Contatti',
			footerLinkDelivery: 'Consegna',
			footerLinkPayment: 'Pagamento',
			footerLinkPrivacy: 'Privacy',
			footerLinkTerms: 'Termini e le condizioni',
			sidebarTitle: 'Ultime recensioni',
			sidebarAllLink: 'Tutte le recensioni',
			modalSocialSigin: "Iscriviti tramite",
			modalSocialSiginFB: "Iscriviti tramite FaceBook",
			modalSocialSiginGoogle: "Iscriviti tramite FaceBook",
			modalSocialForgot: 'Hai dimenticato la password?',
			modalSocialOr: 'oppure',
			modalSocialLogin: 'Accedi tramite',
			modalSocialLoginFB: 'Accedi tramite FaceBook',
			modalSocialLoginGoogle: 'Accedi tramite Google',
			modalSocialForgot: "Accetto i",
			modalSocialLoginCheck: ' termini e le condizioni',
			modalTabSignUp: 'ISCRIVITI',
			modalTabSignIn: 'ACCEDI',
			modalSignEmail: 'E-mail',
			modalSignLogin: 'Nome utente',
			modalSignPassword: 'Password',
			modalSignSeePassword: 'Vedi password',
			modalSignSymbols8: 'almeno 8 caratteri',
			modalSignSymbols3: 'almeno 3 caratteri',
			modalSignBtnIn: 'ACCEDI',
			modalSignBtnUp: 'ISCRIVITI',
			modalSignTerms: 'Fai clic su "Iscriviti", sopra, per accettare i <a href="/it/terms/">termini e le condizioni</a>',
			pagePlatformName: 'Piattaforma',
			pagePlatformName2: 'Piattaforma',
			pagePlatformMark: 'NUOVO!',
			pageAmountName: 'QUANTITÀ DI crediti',
			pageAmountCoinsLabel: 'crediti',
			pageAmountAmountLabel: 'Quantità',
			pageAmountNext: 'Prosegui',
			pageMethodName: 'METODO DI CONSEGNA',
			pageMethodCard1Name: 'Scambio comfort',
			pageMethodCard1Text: 'Sono sufficienti i dati del tuo account FUT 21. Al resto pensiamo noi.',
			pageMethodCard2Name: 'MANUALE',
			pageMethodCard2Text: 'Dovrai seguire le istruzioni fornite. Un metodo manuale veloce e sicuro.',
			pageMethodCardBtn: 'Scegli',
			pageMethodCardSoon: 'Disponibile a breve',
			pagePaymentMethodName: 'PAGAMENTO',
			pagePaymentMethodSafe: 'PAGAMENTI SICURI AL 100%',
			pagePaymentMethodTotalAmount: 'Quantità totale',
			pagePaymentMethodCoupon: 'Coupon',
			pagePaymentMethodCouponHave: 'Hai un coupon',
			pagePaymentMethodCouponApply: 'APPLICALO qui',
			pagePaymentMethodPay: 'Paga con carta',
			pagePaymentMethodPayOther: 'Paga con qualcosa',
			pageDeliveryName: 'CONSEGNA <div class="site__tab-name-content">del tuo ordine №<span></span></div>',
			pageDeliveryTab1: 'Account <br class="for-mobile">di gioco',
			pageDeliveryTab2: '<nobr>Codici di</nobr> backup',
			pageDeliveryTab3: 'Elaborazione',
			pageDeliveryTab4: 'Operazione completata',
			pageDeliveryFormSuccess: "Ordine inoltrato. Stato dell'ordine: <span class='status'></span>",
			pageDeliveryFormSuccessBtn: 'Visualizza ordini',
			pageDeliveryContent1Name: 'Inserisci i dettagli del tuo account EA',
			pageDeliveryContent1Text: "Hai scelto il metodo Semplice, quindi venderemo noi i giocatori per te. <br>Utilizzeremo il tuo account solo per organizzare i trasferimenti e non per altri scopi. <br>Al completamento dell'ordine, ti consigliamo di modificare la password del tuo account.",
			pageDeliveryContent1Email: 'E-mail',
			pageDeliveryContent1Password: 'Password',
			pageDeliveryContent1SeePassword: 'Vedi password',
			pageDeliveryContent1Next: 'Avanti',
			pageDeliveryContent2Name: 'Inserisci il codice di 8 cifre',
			pageDeliveryContent2Text: 'Puoi trovare il codice su <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a>, nella pagina "Sicurezza", accedendo alla sezione dei Codice di backup',
			pageDeliveryContent2Code: 'Inserisci il codice',
			pageDeliveryContent2CodePlaceholder: 'Codici di backup',
			pageDeliveryContent2Next: 'Avanti',
			pageDeliveryContent3Name: 'Il tuo account è in uso',
			pageDeliveryContent3Process1: "Non utilizzare l'account durante il trasferimento",
			pageDeliveryContent3Process2: "Puoi lasciare questa pagina. Quando l'ordine sarà completato ti invieremo un'e-mail.",
			sidebarTrust: 'it-IT',
			sidebarTrustWidth: '295px',
			cookieTitle: 'Utilizziamo i cookie',
			cookieText: "Il nostro sito web utilizza i cookie per migliorare la tua esperienza di navigazione. Utilizzando questo sito web accetti l'uso dei cookie da parte nostra. Leggi l'informativa sulla privacy",
			cookieButton: 'Ho capito',
			commentReviews: 'recensioni',
			commentRated: 'Voto',
			commentOut: 'su',
			commentUrl: 'https://it.trustpilot.com/review/royalfut.com',
		},
		ar: {
			sublogo: 'عملات FIFA 21',
			lang: 'en-GB',
			menuSignIn: 'تسجيل الدخول',
			menuLinkOrder: 'شراء العملات المعدنية',
			menuLinkDesc: 'إن نظامنا آلي بالكامل، <br>لذلك نقوم بتسليم العملات المعدنية في أي وقت من اليوم ، 24/7.',
			menuLinkReviews: 'التعليقات',
			menuLinkFaq: 'الأسئلة الشائعة',
			menuLinkDelivery: 'التسليم',
			footerLinkContact: 'جهات الاتصال',
			footerLinkDelivery: 'التسليم',
			footerLinkPayment: 'الدفع',
			footerLinkPrivacy: 'الخصوصية',
			footerLinkTerms: 'الشروط والأحكام',
			sidebarTitle: 'أحدث التقييمات',
			sidebarAllLink: 'جميع التقييمات',
			modalSocialSigin: "اشترك عبر",
			modalSocialSiginFB: "اشترك عبر FaceBook",
			modalSocialSiginGoogle: "اشترك عبر Google",
			modalSocialForgot: 'هل نسيت كلمة المرور؟',
			modalSocialOr: 'أو',
			modalSocialLogin: 'أو سجل الدخول عبر',
			modalSocialLoginFB: 'أو سجل الدخول عبر FaceBook',
			modalSocialLoginGoogle: 'أو سجل الدخول عبر Google',
			modalSocialForgot: "",
			modalSocialLoginCheck: 'أوافق على الشروط والأحكام',
			modalTabSignUp: 'اشتراك',
			modalTabSignIn: 'تسجيل الدخول',
			modalSignEmail: 'البريد الإلكتروني',
			modalSignLogin: 'اسم المستخدم',
			modalSignPassword: 'كلمة المرور',
			modalSignSeePassword: 'انظر كلمة المرور',
			modalSignSymbols8: '(8 حروف على الأقل)',
			modalSignSymbols3: '(3 حروف على الأقل)',
			modalSignBtnIn: 'تسجيل الدخول',
			modalSignBtnUp: 'اشتراك',
			modalSignTerms: '<a href="/ar/terms/">البنود والأحكام</a> انقر على "اشتراك" أعلاه لقبول ',
			pagePlatformName: 'جهاز',
			pagePlatformName2: 'جهاز',
			pagePlatformMark: 'جديد!',
			pageAmountName: 'مقدار العملات المعدنية',
			pageAmountCoinsLabel: 'العملات المعدنية',
			pageAmountAmountLabel: 'المقدار',
			pageAmountNext: 'متابعة',
			pageMethodName: 'طريقة التسليم',
			pageMethodCard1Name: 'التداول المريح',
			pageMethodCard1Text: 'لا يلزم إلا معلومات حساب FUT 21 الخاص بك. ونحن نتكفل بالباقي نيابةً عنك. (اختر)',
			pageMethodCard2Name: 'الطريقة اليدوية',
			pageMethodCard2Text: 'يتعين عليك اتباع التعليمات التي نقدمها. طريقة سريعة وآمنة ولكن يدوية',
			pageMethodCardBtn: 'اختر',
			pageMethodCardSoon: 'قريبًا',
			pagePaymentMethodName: 'الدفع',
			pagePaymentMethodSafe: 'مدفوعات آمنة بنسبة 100%',
			pagePaymentMethodTotalAmount: 'المبلغ الإجمالي',
			pagePaymentMethodCoupon: 'القسيمة',
			pagePaymentMethodCouponHave: 'لديك قسيمة',
			pagePaymentMethodCouponApply: 'استخدم القسيمة',
			pagePaymentMethodPay: 'الدفع بالبطاقة',
			pagePaymentMethodPayOther: 'دفع مع شيء',
			pageDeliveryName: 'جارٍ تسليم <div class="site__tab-name-content">طلبك رقم<span></span></div>',
			pageDeliveryTab1: '"حساب<br class="for-mobile"> اللعب',
			pageDeliveryTab2: 'الأكواد<br class="for-mobile"> الاحتياطية',
			pageDeliveryTab3: 'المعالجة',
			pageDeliveryTab4: 'تم',
			pageDeliveryFormSuccess: 'تم شحن الطلب، حالة الطلب <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'عرض الطلب',
			pageDeliveryContent1Name: 'أدخل بيانات حساب EA الخاص بك',
			pageDeliveryContent1Text: 'لقد اخترت الطريقة السهلة. ويعني هذا أننا سنبيع اللاعبين نيابةً عنك. <br>ولن نستخدم حسابك إلا لترتيب الانتقالات وليس لأي غرض آخر. <br>بعد إكمال طلبك، نوصيك بتغيير كلمة مرور حسابك.',
			pageDeliveryContent1Email: 'البريد الإلكتروني',
			pageDeliveryContent1Password: 'كلمة المرور',
			pageDeliveryContent1SeePassword: 'انظر كلمة المرور',
			pageDeliveryContent1Next: 'التالي',
			pageDeliveryContent2Name: 'أدخل الكود المكون من 8 أرقام',
			pageDeliveryContent2Text: 'يمكنك الحصول على هذا الكود على <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> في صفحة "الأمان" في قسم الأكواد الاحتياطية',
			pageDeliveryContent2Code: 'إدخال الكود',
			pageDeliveryContent2CodePlaceholder: 'الأكواد الاحتياطية',
			pageDeliveryContent2Next: 'التالي',
			pageDeliveryContent3Name: 'باستخدام حسابك',
			pageDeliveryContent3Process1: 'لا تستخدم حسابك أثناء التحويل',
			pageDeliveryContent3Process2: 'يمكنك مغادرة هذه الصفحة. سنرسل إليك رسالة إلكترونية عند إكمال الطلب.',
			sidebarTrust: 'en-GB',
			sidebarTrustWidth: '236px',
			cookieTitle: 'نحن نستخدم ملفات تعريف الارتباط',
			cookieText: 'يستخدم موقعنا الإلكتروني ملفات تعريف الارتباط لتحسين تجربة التصفح. باستخدام هذا الموقع، فأنت توافق على استخدام ملفات تعريف الارتباط. اقرأ سياسة الخصوصية',
			cookieButton: 'فهمت',
			commentReviews: 'عدد التعليقات',
			commentRated: 'التقييم',
			commentOut: 'من',
			commentUrl: 'https://uk.trustpilot.com/review/royalfut.com',
		},
		nl: {
			sublogo: 'FIFA 21 munten',
			lang: 'en-GB',
			menuSignIn: 'INLOGGEN',
			menuLinkOrder: 'MUNTEN KOPEN',
			menuLinkDesc: 'Ons systeem is volledig geautomatiseerd, <br>wij leveren de munten op ieder moment, 24u/24 en 7d/7',
			menuLinkReviews: 'Beoordeling',
			menuLinkFaq: 'FAQ',
			menuLinkDelivery: 'Leveringen',
			footerLinkContact: 'Contacten',
			footerLinkDelivery: 'Leveringen',
			footerLinkPayment: 'Betalingen',
			footerLinkPrivacy: 'Privacy',
			footerLinkTerms: 'Voorwaarden te accepteren',
			sidebarTitle: 'Laatste beoordelingen',
			sidebarAllLink: 'Alle beoordelingen',
			modalSocialSigin: "Meld je aan via",
			modalSocialSiginFB: "Meld je aan via FaceBook",
			modalSocialSiginGoogle: "Meld je aan via Google",
			modalSocialForgot: 'Wachtwoord vergeten?',
			modalSocialOr: 'of',
			modalSocialLogin: 'Log in via',
			modalSocialLoginFB: 'Log in via FaceBook',
			modalSocialLoginGoogle: 'Log in via Google',
			modalSocialForgot: "Ik accepteer ",
			modalSocialLoginCheck: 'de voorwaarden en bepalingen',
			modalTabSignUp: 'INSCHRIJVEN',
			modalTabSignIn: 'INLOGGEN',
			modalSignEmail: 'E-mail',
			modalSignLogin: 'Gebruikersnaam',
			modalSignPassword: 'Wachtwoord',
			modalSignSeePassword: 'Zie wachtwoord',
			modalSignSymbols8: 'minstens 8 letters',
			modalSignSymbols3: 'minstens 3 tekens lang',
			modalSignBtnIn: 'INLOGGEN',
			modalSignBtnUp: 'INSCHRIJVEN',
			modalSignTerms: 'Klik hierboven op "Aanmelden" om de Algemene <a href="/nl/terms/">Voorwaarden te accepteren</a>',
			pagePlatformName: 'Platform',
			pagePlatformName2: 'Platform',
			pagePlatformMark: 'NIEUWE!',
			pageAmountName: 'MUNTEN AANTAL',
			pageAmountCoinsLabel: 'Munten',
			pageAmountAmountLabel: 'Aantal',
			pageAmountNext: 'Doorgaan',
			pageMethodName: 'LEVERINGSMETHODE',
			pageMethodCard1Name: 'Comfort ruil',
			pageMethodCard1Text: 'Alleen je FUT 21-accountgegevens zijn vereist. Wij doen de rest voor je.',
			pageMethodCard2Name: 'HANDMATIG',
			pageMethodCard2Text: 'Volg de instructies die wij u geven. Snel, veilig, maar handmatig.',
			pageMethodCardBtn: 'Kies',
			pageMethodCardSoon: 'Binnenkort',
			pagePaymentMethodName: 'BETALING',
			pagePaymentMethodSafe: '100% VEILIG BETALEN',
			pagePaymentMethodTotalAmount: 'Totaal aantal',
			pagePaymentMethodCoupon: 'Kortingsbon',
			pagePaymentMethodCouponHave: 'Ik heb een kortingsbon',
			pagePaymentMethodCouponApply: 'Korting TOEPASSEN',
			pagePaymentMethodPay: 'Betaal met bankkaart',
			pagePaymentMethodPayOther: 'Betaal met iets',
			pageDeliveryName: 'LEVERING <div class="site__tab-name-content">van bestelling №<span></span></div>',
			pageDeliveryTab1: 'Spel <br class="for-mobile">account',
			pageDeliveryTab2: 'Back-<br class="for-mobile">upcodes',
			pageDeliveryTab3: 'Verwerken',
			pageDeliveryTab4: 'Gedaan',
			pageDeliveryFormSuccess: 'Bestelling verzonden, bestelstatus: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Bestelling bekijken',
			pageDeliveryContent1Name: 'Voer je EA account gegevens in',
			pageDeliveryContent1Text: 'Je hebt voor de Easy-methode gekozen. Dit betekent dat we in jouw naam spelers verkopen. <br>We gebruiken je account alleen om overboekingen te regelen en niet voor andere doeleinden <br>Nadat je bestelling is voltooid, raden we je aan om het wachtwoord van je account te wijzigen.',
			pageDeliveryContent1Email: 'E-mail',
			pageDeliveryContent1Password: 'Wachtwoord',
			pageDeliveryContent1SeePassword: 'Zie wachtwoord',
			pageDeliveryContent1Next: 'Volgende',
			pageDeliveryContent2Name: 'Voer je code van 8 cijfers in',
			pageDeliveryContent2Text: 'Je kan de code op <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> verkrijgen. Ga naar de pagina "Beveiliging" in de rubriek Back-upcodes',
			pageDeliveryContent2Code: 'Code invoeren',
			pageDeliveryContent2CodePlaceholder: 'Backup-code',
			pageDeliveryContent2Next: 'Volgende',
			pageDeliveryContent3Name: '"Het gebruik van je account',
			pageDeliveryContent3Process1: 'Gelieve niet je account te gebruiken tijdens het overboeken"',
			pageDeliveryContent3Process2: 'Je mag deze pagina verlaten. We sturen je een e-mail wanneer je bestelling is voltooid.',
			sidebarTrust: 'nl-NL',
			sidebarTrustWidth: '242px',
			cookieTitle: 'Wij gebruiken cookies',
			cookieText: 'Onze website maakt gebruik van cookies om uw browse-ervaring te verbeteren. Door deze website te gebruiken, ga je akkoord met ons cookie-beleid. Lees hier meer over in ons Privacybeleid.',
			cookieButton: 'Begrepen',
			commentReviews: 'reviews',
			commentRated: 'Beoordeling',
			commentOut: 'van',
			commentUrl: 'https://nl.trustpilot.com/review/royalfut.com',
		},
		es: {
			sublogo: 'Monedas FIFA 21',
			lang: 'en-GB',
			menuSignIn: 'INICIAR SESIÓN',
			menuLinkOrder: 'COMPRAR MONEDAS',
			menuLinkDesc: 'Nuestro sistema está totalmente automatizado, <br>por lo que suministramos monedas las 24 horas del día.',
			menuLinkReviews: 'Revisión',
			menuLinkFaq: 'Preguntas frecuentes',
			menuLinkDelivery: 'Entrega',
			footerLinkContact: 'Contacto',
			footerLinkDelivery: 'Entrega',
			footerLinkPayment: 'Pago',
			footerLinkPrivacy: 'Privacidad',
			footerLinkTerms: 'Términos y condiciones',
			sidebarTitle: 'Últimos comentarios',
			sidebarAllLink: 'Todos los comentarios',
			modalSocialSigin: "Regístrese mediante",
			modalSocialSiginFB: "Regístrese mediante FaceBook",
			modalSocialSiginGoogle: "Regístrese mediante Google",
			modalSocialForgot: '¿Ha olvidado su contraseña?',
			modalSocialOr: 'o',
			modalSocialLogin: 'Inicie sesión mediante',
			modalSocialLoginFB: 'Inicie sesión mediante FaceBook',
			modalSocialLoginGoogle: 'Inicie sesión mediante Google',
			modalSocialForgot: "Acepto los ",
			modalSocialLoginCheck: 'Términos y condiciones.',
			modalTabSignUp: 'REGISTRARSE',
			modalTabSignIn: 'INICIAR SESIÓN',
			modalSignEmail: 'CORREO ELECTRÓNICO',
			modalSignLogin: 'Nombre',
			modalSignPassword: 'Contraseña',
			modalSignSeePassword: 'Ver contraseña',
			modalSignSymbols8: 'al menos 8 caracteres',
			modalSignSymbols3: 'al menos 3 caracteres',
			modalSignBtnIn: 'INICIAR SESIÓN',
			modalSignBtnUp: 'REGISTRARSE',
			modalSignTerms: 'Haga clic en «Registrarse» en la parte superior para aceptar los <a href="/es/terms/">Términos y condiciones</a>',
			pagePlatformName: 'Plataforma',
			pagePlatformName2: 'Plataforma',
			pagePlatformMark: 'NUEVO!',
			pageAmountName: 'CANTIDAD DE MONEDAS',
			pageAmountCoinsLabel: 'Monedas',
			pageAmountAmountLabel: 'Precio',
			pageAmountNext: 'Continuar',
			pageMethodName: 'MÉTODO DE ENTREGA',
			pageMethodCard1Name: 'Tradeo cómodo',
			pageMethodCard1Text: 'Solo tendrá que indicar la información de su cuenta de FUT 21. Nosotros nos encargamos de todo lo demás.',
			pageMethodCard2Name: 'MANUAL',
			pageMethodCard2Text: 'Tendrá que seguir las instrucciones que le proporcionemos. Rápido y seguro, pero manual.',
			pageMethodCardBtn: 'Elegir',
			pageMethodCardSoon: 'Próximamente',
			pagePaymentMethodName: 'PAGO',
			pagePaymentMethodSafe: 'PAGOS 100 % SEGUROS',
			pagePaymentMethodTotalAmount: 'Importe total',
			pagePaymentMethodCoupon: 'Cupón',
			pagePaymentMethodCouponHave: 'Tengo un cupón',
			pagePaymentMethodCouponApply: 'APLICAR cupón',
			pagePaymentMethodPay: 'Pagar con tarjeta',
			pagePaymentMethodPayOther: 'Pagar con algo',
			pageDeliveryName: 'ENTREGA <div class="site__tab-name-content">de su pedido n.º<span></span></div>',
			pageDeliveryTab1: 'Cuenta <br class="for-mobile">del juego',
			pageDeliveryTab2: 'Códigos <br class="for-mobile">de copia de seguridad',
			pageDeliveryTab3: 'Procesando',
			pageDeliveryTab4: 'Listo',
			pageDeliveryFormSuccess: 'Pedido enviado, estado del pedido: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Ver pedido',
			pageDeliveryContent1Name: 'Indique los datos de su cuenta de EA.',
			pageDeliveryContent1Text: 'Ha elegido el método fácil, por lo que enviaremos jugadores en su nombre. <br>Utilizaremos su cuenta con el único fin de gestionar transferencias. <br>Una vez realizado el pedido, le recomendamos cambiar la contraseña de la cuenta.',
			pageDeliveryContent1Email: 'Correo electrónico',
			pageDeliveryContent1Password: 'Contraseña',
			pageDeliveryContent1SeePassword: 'Ver contraseña',
			pageDeliveryContent1Next: 'Siguiente',
			pageDeliveryContent2Name: 'Indique el código de 8 dígitos.',
			pageDeliveryContent2Text: 'Puede obtener este código en <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a>, en la sección «Códigos de copia de seguridad» de la página «Seguridad».',
			pageDeliveryContent2Code: 'Indique el código',
			pageDeliveryContent2CodePlaceholder: 'Códigos de copia de seguridad',
			pageDeliveryContent2Next: 'Siguiente',
			pageDeliveryContent3Name: '"Usando su cuenta',
			pageDeliveryContent3Process1: 'No use su cuenta mientras realizamos la transferencia."',
			pageDeliveryContent3Process2: 'Puede salir de esta página. Le enviaremos un correo electrónico una vez que se realice el pedido.',
			sidebarTrust: 'es-ES',
			sidebarTrustWidth: '282px',
			cookieTitle: 'Aviso sobre el uso de cookies',
			cookieText: 'Nuestro sitio web utiliza cookies para mejorar la experiencia de navegación. Al utilizar este sitio, usted da su consentimiento a dicho uso. Consulte nuestra Política de privacidad.',
			cookieButton: 'Entendido',
			commentReviews: 'opiniones',
			commentRated: 'Calificada con',
			commentOut: 'sobre',
			commentUrl: 'https://es.trustpilot.com/review/royalfut.com',
		},
		pt: {
			sublogo: 'Moedas FIFA 21',
			lang: 'en-GB',
			menuSignIn: 'INICIAR SESSÃO',
			menuLinkOrder: 'COMPRAR MOEDAS',
			menuLinkDesc: 'O nosso sistema é totalmente automatizado, <br>portanto entregamos moedas em qualquer momento, 24/7.',
			menuLinkReviews: 'Comentario',
			menuLinkFaq: 'Perguntas Frequentes',
			menuLinkDelivery: 'Entregas',
			footerLinkContact: 'Contactos',
			footerLinkDelivery: 'Entregas',
			footerLinkPayment: 'Pagamentos',
			footerLinkPrivacy: 'Privacidade',
			footerLinkTerms: 'Termos e Condições',
			sidebarTitle: 'Últimos comentários',
			sidebarAllLink: 'Todos os comentários',
			modalSocialSigin: "Registar-se através de",
			modalSocialSiginFB: "Registar-se através de FaceBook",
			modalSocialSiginGoogle: "Registar-se através de Google",
			modalSocialForgot: 'Esqueceu-se da sua palavra-passe?',
			modalSocialOr: 'ou',
			modalSocialLogin: 'Iniciar sessão através de',
			modalSocialLoginFB: 'Iniciar sessão através de FaceBook',
			modalSocialLoginGoogle: 'Iniciar sessão através de Google',
			modalSocialForgot: "Aceito os ",
			modalSocialLoginCheck: 'Termos e Condições',
			modalTabSignUp: 'REGISTAR',
			modalTabSignIn: 'INICIAR SESSÃO',
			modalSignEmail: 'E-mail',
			modalSignLogin: 'Nome de utilizador',
			modalSignPassword: 'Palavra-passe',
			modalSignSeePassword: 'Ver passe',
			modalSignSymbols8: 'pelo menos, 8 letras',
			modalSignSymbols3: 'deve ter, pelo menos, 3 caracteres',
			modalSignBtnIn: 'INICIAR SESSÃO',
			modalSignBtnUp: 'REGISTAR',
			modalSignTerms: 'Clica em "Registar" acima para aceitares os <a href="/pt/terms/">Termos e Condições</a>',
			pagePlatformName: 'Plataforma',
			pagePlatformName2: 'Plataforma',
			pagePlatformMark: 'NOVO!',
			pageAmountName: 'MONTANTE DE MOEDAS',
			pageAmountCoinsLabel: 'Moedas',
			pageAmountAmountLabel: 'Montante',
			pageAmountNext: 'Prosseguir',
			pageMethodName: 'MÉTODO DE ENTREGA',
			pageMethodCard1Name: 'Negociação Comfort',
			pageMethodCard1Text: 'Só é necessária a tua informação de conta FUT 21. Fazemos o resto por ti.',
			pageMethodCard2Name: 'MANUAL',
			pageMethodCard2Text: 'Vais precisar de seguir as instruções que fornecemos. Rápido, seguro, mas manual.',
			pageMethodCardBtn: 'escolher',
			pageMethodCardSoon: 'Em breve',
			pagePaymentMethodName: 'PAGAMENTO',
			pagePaymentMethodSafe: 'PAGAMENTOS 100% SEGUROS',
			pagePaymentMethodTotalAmount: 'Montante total',
			pagePaymentMethodCoupon: 'Cupão',
			pagePaymentMethodCouponHave: 'Tenho um cupão',
			pagePaymentMethodCouponApply: 'APLICAR cupão',
			pagePaymentMethodPay: 'Pagar com cartão',
			pagePaymentMethodPayOther: 'Paga com alguma coisa.',
			pageDeliveryName: 'A ENTREGAR <div class="site__tab-name-content">o teu pedido n.º<span></span></div>',
			pageDeliveryTab1: 'Conta <br class="for-mobile">do jogo',
			pageDeliveryTab2: 'Códigos <br class="for-mobile">de segurança',
			pageDeliveryTab3: 'A processar',
			pageDeliveryTab4: 'Concluído',
			pageDeliveryFormSuccess: 'Pedido enviado, estado do pedido: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Visualizar pedido',
			pageDeliveryContent1Name: 'Introduz os teus dados de conta EA',
			pageDeliveryContent1Text: 'EScolheste o método Fácil. Isto significa que vamos vender jogadores em teu nome. <br>Utilizamos a tua conta apenas para tratar de transferências e não para qualquer outro fim. <br>Depois de o teu pedido estar concluído, recomendamos que mudes a palavra-passe da tua conta.',
			pageDeliveryContent1Email: 'E-mail',
			pageDeliveryContent1Password: 'Palavra-passe',
			pageDeliveryContent1SeePassword: 'Ver passe',
			pageDeliveryContent1Next: 'Seguinte',
			pageDeliveryContent2Name: 'Introduz o código de 8 dígitos',
			pageDeliveryContent2Text: 'Podes obter este código em <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> na página "Segurança" na secção de códigos de Segurança',
			pageDeliveryContent2Code: 'Introduzir código',
			pageDeliveryContent2CodePlaceholder: 'Códigos de segurança',
			pageDeliveryContent2Next: 'Seguinte',
			pageDeliveryContent3Name: '"Utilizar a tua conta',
			pageDeliveryContent3Process1: 'Não utilizes a tua conta enquanto estamos a transferir"',
			pageDeliveryContent3Process2: 'Podes sair desta página. Enviamos-te um e-mail quando o teu pedido estiver concluído.',
			//- sidebarTrust: 'en-GB',
			sidebarTrust: 'pt-PT',
			sidebarTrustWidth: '292px',
			cookieTitle: 'Estamos a utilizar cookies',
			cookieText: 'O nosso site utiliza cookies para melhorar a tua experiência de navegação. Utilizando este site, concordas com a nossa utilização de cookies. Lê a nossa Política de Privacidade',
			cookieButton: 'Entendido',
			commentReviews: 'opiniões',
			commentRated: 'Classificação',
			commentOut: '/',
			commentUrl: 'https://pt.trustpilot.com/review/royalfut.com',
		},
		ch: {
			sublogo: 'FIFA 21金币',
			lang: 'en-GB',
			menuSignIn: '登录',
			menuLinkOrder: '购买金币',
			menuLinkDesc: '我们的系统是全自动的，<br>将为您提供 7x24 小时全天候金币实时交付。',
			menuLinkReviews: '碌莽禄掳',
			menuLinkFaq: '常见问题',
			menuLinkDelivery: '交货',
			footerLinkContact: '联系方式',
			footerLinkDelivery: '交货',
			footerLinkPayment: '支付区',
			footerLinkPrivacy: '隐私',
			footerLinkTerms: '条款和条件',
			sidebarTitle: '最新评论',
			sidebarAllLink: '所有评论',
			modalSocialSigin: "登录方式为",
			modalSocialSiginFB: "登录方式为 FaceBook",
			modalSocialSiginGoogle: "登录方式为 Google",
			modalSocialForgot: '忘记密码？',
			modalSocialOr: '或',
			modalSocialLogin: '登录',
			modalSocialLoginFB: '登录 FaceBook',
			modalSocialLoginGoogle: '登录 Google',
			modalSocialForgot: "",
			modalSocialLoginCheck: '我接受条款和条件',
			modalTabSignUp: '注册',
			modalTabSignIn: '登录',
			modalSignEmail: '电子邮件',
			modalSignLogin: '用户名',
			modalSignPassword: '密码',
			modalSignSeePassword: '查看密码',
			modalSignSymbols8: '至少 8 个字母',
			modalSignSymbols3: '至少 3 个字符',
			modalSignBtnIn: '登录',
			modalSignBtnUp: '注册',
			modalSignTerms: '点击上方的“注册”，接受 <a href="/ch/terms/">条款和条件</a>',
			pagePlatformName: '平台',
			pagePlatformName2: '平台',
			pagePlatformMark: '新!',
			pageAmountName: '金币数量',
			pageAmountCoinsLabel: '金币',
			pageAmountAmountLabel: '数量',
			pageAmountNext: '继续',
			pageMethodName: '交付方式',
			pageMethodCard1Name: '舒适交易',
			pageMethodCard1Text: '只需您的 FUT 21 帐户信息。剩下的全都交给我们。',
			pageMethodCard2Name: '手动',
			pageMethodCard2Text: '您需要按照我们提供的说明操作。快速，安全，但手动。',
			pageMethodCardBtn: '选择',
			pageMethodCardSoon: '快速',
			pagePaymentMethodName: '支付',
			pagePaymentMethodSafe: '100%安全支付',
			pagePaymentMethodTotalAmount: '总金额',
			pagePaymentMethodCoupon: '优惠券',
			pagePaymentMethodCouponHave: '有一张优惠券',
			pagePaymentMethodCouponApply: '使用优惠券',
			pagePaymentMethodPay: '用卡支付',
			pagePaymentMethodPayOther: '支付的东西',
			pageDeliveryName: '交付 <div class="site__tab-name-content">您的订单 №<span></span></div>',
			pageDeliveryTab1: '游戏帐户',
			pageDeliveryTab2: '备份代码',
			pageDeliveryTab3: '处理中',
			pageDeliveryTab4: '完成',
			pageDeliveryFormSuccess: '订单已发货，订单状态：<span class="status"></span>',
			pageDeliveryFormSuccessBtn: '查看订单',
			pageDeliveryContent1Name: '输入您的 EA 帐户详情',
			pageDeliveryContent1Text: '您已选择快捷方式。这意味着我们将代表您出售球员。 <br>我们使用您的帐户只用于安排转账，不用于任何其他目的。 <br>在您的订单完成后，我们建议您修改您帐户的密码。',
			pageDeliveryContent1Email: '电子邮件',
			pageDeliveryContent1Password: '密码',
			pageDeliveryContent1SeePassword: '查看密码',
			pageDeliveryContent1Next: '下一步',
			pageDeliveryContent2Name: '输入 8 位代码',
			pageDeliveryContent2Text: '您可以从 <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> 的“安全”页面的备份代码区中获取',
			pageDeliveryContent2Code: '输入代码',
			pageDeliveryContent2CodePlaceholder: '备份代码',
			pageDeliveryContent2Next: '下一步',
			pageDeliveryContent3Name: '使用您的帐户',
			pageDeliveryContent3Process1: ' 我们转账期间请勿使用您的帐户。',
			pageDeliveryContent3Process2: '您可以离开此页面了。当您的订单完成时，我们将向您发送一封电子邮件。',
			sidebarTrust: 'en-GB',
			sidebarTrustWidth: '236px',
			cookieTitle: '我们正在使用 cookies',
			cookieText: '我们的网站将使用 cookies 来改善您的浏览体验。使用此网站，代表您同意使用我们的 cookies。阅读我们的隐私政策',
			cookieButton: '知道了',
			commentReviews: '则评论',
			commentRated: '评分满分',
			commentOut: '分',
			commentUrl: 'https://uk.trustpilot.com/review/royalfut.com',
		},
		tr: {
			sublogo: 'Jeton FIFA 21',
			lang: 'en-GB',
			menuSignIn: 'GİRİŞ',
			menuLinkOrder: 'JETON AL',
			menuLinkDesc: '',
			menuLinkReviews: 'Yorumlar',
			menuLinkFaq: 'SSS',
			menuLinkDelivery: 'Teslimat',
			footerLinkContact: 'iletişim',
			footerLinkDelivery: 'Teslimat',
			footerLinkPayment: 'Ödeme',
			footerLinkPrivacy: 'Gizlilik',
			footerLinkTerms: 'Hüküm ve Koşulları',
			sidebarTitle: 'Son yorumlar',
			sidebarAllLink: 'Tüm yorumlar',
			modalSocialSigin: "Şununla kaydolun:",
			modalSocialSiginFB: "Şununla kaydolun: FaceBook",
			modalSocialSiginGoogle: "Şununla kaydolun: Google",
			modalSocialForgot: 'Parolanızı mı unuttunuz?',
			modalSocialOr: 'ya da',
			modalSocialLogin: 'şununla giriş yapın:',
			modalSocialLoginFB: 'şununla giriş yapın: FaceBook',
			modalSocialLoginGoogle: 'şununla giriş yapın: Google',
			modalSocialForgot: "Hüküm ve ",
			modalSocialLoginCheck: 'Koşulları kabul ediyorum',
			modalTabSignUp: 'KAYDOL',
			modalTabSignIn: 'GİRİŞ',
			modalSignEmail: 'E-POSTA',
			modalSignLogin: 'kullanıcı',
			modalSignPassword: 'Şifre',
			modalSignSeePassword: 'Bkz. şifre',
			modalSignSymbols8: 'en az 8 karakter',
			modalSignSymbols3: 'en az 3 karakter olmalıdır',
			modalSignBtnIn: 'GİRİŞ',
			modalSignBtnUp: 'KAYDOL',
			modalSignTerms: 'Lütfen yukarıdaki "Kaydol" düğmesini tıklayarak kabul edin. <a href="/tr/terms/">Hüküm ve Koşulları</a>',
			pagePlatformName: 'Platform',
			pagePlatformName2: 'Platform',
			pagePlatformMark: 'YENI!',
			pageAmountName: 'JETON MİKTARI',
			pageAmountCoinsLabel: 'Jeton',
			pageAmountAmountLabel: 'Miktar',
			pageAmountNext: 'İleri',
			pageMethodName: 'TESLİMAT YÖNTEMİ',
			pageMethodCard1Name: 'Rahat işlem',
			pageMethodCard1Text: 'FUT 21 hesap bilgilerinizi vermeniz yeterlidir. Gerisini biz sizin yerinize hallediyoruz.',
			pageMethodCard2Name: 'MANUEL',
			pageMethodCard2Text: 'Verilen talimatları izleyerek işlemi gerçekleştirmeniz gerekir. Hızlı, güvenli fakat manuel.',
			pageMethodCardBtn: 'seç',
			pageMethodCardSoon: 'Yakında',
			pagePaymentMethodName: 'ÖDEME',
			pagePaymentMethodSafe: '%100 GÜVENLİ ÖDEME',
			pagePaymentMethodTotalAmount: 'Toplam tutar',
			pagePaymentMethodCoupon: 'kuponu',
			pagePaymentMethodCouponHave: 'İndirim kuponunuz mu var',
			pagePaymentMethodCouponApply: 'Kuponu KULLAN',
			pagePaymentMethodPay: 'Kartla ödeme',
			pagePaymentMethodPayOther: 'Bir şeyle ödeme',
			pageDeliveryName: '<div class="site__tab-name-content">№<span></span> numaralı siparişiniz</div> TESLİM EDİLİYOR ',
			pageDeliveryTab1: 'Oyun <br class="for-mobile">hesabı',
			pageDeliveryTab2: 'Backup <br class="for-mobile">kodları',
			pageDeliveryTab3: 'İşleniyor',
			pageDeliveryTab4: 'Bitti',
			pageDeliveryFormSuccess: 'Sipariş gönderildi, sipariş durumu: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Siparişi görüntüle',
			pageDeliveryContent1Name: 'EA hesap bilgilerinizi girin',
			pageDeliveryContent1Text: 'Kolay yöntemi seçtiniz. Yani, oyuncuları sizin adınıza biz satacağız. <br>Hesap bilgilerinizi yalnızca transferleri gerçekleştirmek için kullanacağız, başka bir amaçla değil. <br>Siparişiniz tamamlandığında hesabınızın şifresini değiştirmenizi öneririz.',
			pageDeliveryContent1Email: 'E-POSTA',
			pageDeliveryContent1Password: 'Şifre',
			pageDeliveryContent1SeePassword: 'Bkz. şifre',
			pageDeliveryContent1Next: 'İleri',
			pageDeliveryContent2Name: '8 haneli kodu girin',
			pageDeliveryContent2Text: 'Bu kodu <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> sitesinde "Security" sayfasının Backup codes bölümünde bulabilirsiniz.',
			pageDeliveryContent2Code: 'Kodu gir',
			pageDeliveryContent2CodePlaceholder: 'Backup kodu',
			pageDeliveryContent2Next: 'İleri',
			pageDeliveryContent3Name: 'Hesap kullanımı',
			pageDeliveryContent3Process1: 'Transfer işlemi gerçekleştirilirken lütfen hesabınızı kullanmayın.',
			pageDeliveryContent3Process2: 'Bu sayfadan ayrılabilirsiniz. Siparişiniz tamamlandığında size bir e-posta göndereceğiz.',
			sidebarTrust: 'en-GB',
			sidebarTrustWidth: '236px',
			cookieTitle: 'Çerez kullanıyoruz.',
			cookieText: 'Sitemizde size daha iyi bir deneyim sunabilmek için çerezleri kullanıyoruz. Bu siteyi kullanmakla çerez kullanımımıza onay vermiş sayılırsınız. Bilgi için lütfen Gizlilik Politikamıza bakın.',
			cookieButton: 'Anladım',
			commentReviews: 'görüş',
			commentRated: 'puan verildi',
			commentOut: '/',
			commentUrl: 'https://uk.trustpilot.com/review/royalfut.com',
		},
		pl: {
			sublogo: 'Monety FIFA 21',
			lang: 'en-GB',
			menuSignIn: 'ZALOGUJ',
			menuLinkOrder: 'KUPUJ MONETY',
			menuLinkDesc: 'Nasz system jest w pełni zautomatyzowany, <br>a więc dostarczamy monety o każdej porze dnia, 24/7.',
			menuLinkReviews: 'Recenzje',
			menuLinkFaq: 'Najczęściej zadawane pytania',
			menuLinkDelivery: 'Dostaw',
			footerLinkContact: 'Kontaktu',
			footerLinkDelivery: 'Dostaw',
			footerLinkPayment: 'Płatności',
			footerLinkPrivacy: 'Prywatność',
			footerLinkTerms: 'Zasady i Warunki',
			sidebarTitle: 'Najnowsze opinie',
			sidebarAllLink: 'Wszystkie recenzje',
			modalSocialSigin: "Zaloguj się przez",
			modalSocialSiginFB: "Zaloguj się przez FaceBook",
			modalSocialSiginGoogle: "Zaloguj się przez Google",
			modalSocialForgot: 'Nie pamiętasz hasła?',
			modalSocialOr: 'lub',
			modalSocialLogin: 'Zaloguj się przez',
			modalSocialLoginFB: 'Zaloguj się przez FaceBook',
			modalSocialLoginGoogle: 'Zaloguj się przez Google',
			modalSocialForgot: "",
			modalSocialLoginCheck: 'Akceptuję warunki',
			modalTabSignUp: 'ZAREJESTRUJ SIĘ',
			modalTabSignIn: 'ZALOGUJ',
			modalSignEmail: 'E-mail',
			modalSignLogin: 'Nazwa użytkownika',
			modalSignPassword: 'Hasło',
			modalSignSeePassword: 'Zobacz hasło',
			modalSignSymbols8: 'co najmniej 8 liter',
			modalSignSymbols3: 'co najmniej 3 znaki',
			modalSignBtnIn: 'ZALOGUJ',
			modalSignBtnUp: 'ZAREJESTRUJ SIĘ',
			modalSignTerms: 'Kliknij w opcję „Zarejestruj się” powyżej, aby zaakceptować <a href="/pl/terms/">zasady i warunki</a>',
			pagePlatformName: 'platformę',
			pagePlatformName2: 'platformę',
			pagePlatformMark: 'NOWOŚĆ!',
			pageAmountName: 'LICZBA MONET',
			pageAmountCoinsLabel: 'Monety',
			pageAmountAmountLabel: 'Liczba',
			pageAmountNext: 'Dalej',
			pageMethodName: 'SPOSÓB DOSTARCZENIA',
			pageMethodCard1Name: 'Comfort trade',
			pageMethodCard1Text: 'Potrzebne będą jedynie dane twojego konta FUT 21. Resztę załatwimy za ciebie.',
			pageMethodCard2Name: 'RĘCZNY',
			pageMethodCard2Text: 'Musisz wykonać dostarczone przez nas instrukcje. Szybko, pewnie, ale ręcznie.',
			pageMethodCardBtn: 'wybierz',
			pageMethodCardSoon: 'Wkrótce',
			pagePaymentMethodName: 'PŁATNOŚĆ',
			pagePaymentMethodSafe: 'PŁATNOŚCI BEZPIECZNE W 100%',
			pagePaymentMethodTotalAmount: 'Suma',
			pagePaymentMethodCoupon: 'Kupon',
			pagePaymentMethodCouponHave: 'Jeśli masz kupon',
			pagePaymentMethodCouponApply: 'ZASTOSUJ go',
			pagePaymentMethodPay: 'Płać kartą',
			pagePaymentMethodPayOther: 'Płać czymś',
			pageDeliveryName: 'DOSTARCZANIE <div class="site__tab-name-content">twojego zamówienia №<span></span></div>',
			pageDeliveryTab1: 'Konto <br class="for-mobile">gry',
			pageDeliveryTab2: 'Kody <br class="for-mobile">zapasowe',
			pageDeliveryTab3: 'Przetwarzanie',
			pageDeliveryTab4: 'Gotowe',
			pageDeliveryFormSuccess: 'Zamówienie wysłane, stan zamówienia: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Wyświetl zamówienie',
			pageDeliveryContent1Name: 'Podaj dane konta EA',
			pageDeliveryContent1Text: 'Wybrano łatwą metodę. Oznacza to, że będziemy sprzedawać graczy w twoim imieniu. <br>Użyjemy twojego konta wyłącznie do zorganizowania transferów i w żadnym innym celu. <br>Po realizacji zamówienia zalecamy zmianę hasła do konta.',
			pageDeliveryContent1Email: 'E-mail',
			pageDeliveryContent1Password: 'Hasło',
			pageDeliveryContent1SeePassword: 'Zobacz hasło',
			pageDeliveryContent1Next: 'Dalej',
			pageDeliveryContent2Name: 'Wprowadź ośmiocyfrowy kod',
			pageDeliveryContent2Text: 'Odbierzesz go na <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> na stronie „Bezpieczeństwo” w sekcji Kody zapasowe',
			pageDeliveryContent2Code: 'Wprowadź kod',
			pageDeliveryContent2CodePlaceholder: 'Kod zapasowy',
			pageDeliveryContent2Next: 'Dalej',
			pageDeliveryContent3Name: 'Używanie konta',
			pageDeliveryContent3Process1: ' Nie używaj konta w trakcie transferu',
			pageDeliveryContent3Process2: 'Możesz opuścić tę stronę. Po zrealizowaniu zamówienia wyślemy ci e-mail.',
			sidebarTrust: 'en-GB',
			sidebarTrustWidth: '236px',
			cookieTitle: 'Korzystamy z cookies',
			cookieText: 'Nasza strona korzysta z cookies, aby ulepszyć wrażenia z przeglądania. Korzystając z tej strony, zgadzasz się na użytkowanie cookies. Przeczytaj naszą politykę prywatności',
			cookieButton: 'Rozumiem',
			commentReviews: 'recenzje',
			commentRated: 'Ocena',
			commentOut: 'na',
			commentUrl: 'https://pl.trustpilot.com/review/royalfut.com',
		},
		sw: {
			sublogo: 'FIFA 21 mynt',
			lang: 'en-GB',
			menuSignIn: 'LOGGA IN',
			menuLinkOrder: 'KÖP MYNT',
			menuLinkDesc: 'Vårt system är helt automatiserat, <br>så vi kan leverera mynt dygnet runt.',
			menuLinkReviews: 'omdömen',
			menuLinkFaq: 'VANLIGA FRÅGOR',
			menuLinkDelivery: 'Leverans',
			footerLinkContact: 'Kontakts',
			footerLinkDelivery: 'Leverans',
			footerLinkPayment: 'Betalnings',
			footerLinkPrivacy: 'Integritet',
			footerLinkTerms: 'Att godkänna villkoren',
			sidebarTitle: 'Senaste recensioner',
			sidebarAllLink: 'Alla recensioner',
			modalSocialSigin: "Registrera dig via",
			modalSocialSiginFB: "Registrera dig via FaceBook",
			modalSocialSiginGoogle: "Registrera dig via Google",
			modalSocialForgot: 'Har du glömt lösenordet?',
			modalSocialOr: 'eller',
			modalSocialLogin: 'Logga in via',
			modalSocialLoginFB: 'Logga in via FaceBook',
			modalSocialLoginGoogle: 'Logga in via Google',
			modalSocialForgot: "",
			modalSocialLoginCheck: 'Jag godkänner villkoren',
			modalTabSignUp: 'SKAPA KONTO',
			modalTabSignIn: 'LOGGA IN',
			modalSignEmail: 'E-post',
			modalSignLogin: 'Användarnamn',
			modalSignPassword: 'Lösenord',
			modalSignSeePassword: 'Se lösenord',
			modalSignSymbols8: 'minst 8 tecken långt',
			modalSignSymbols3: 'minst 3 tecken långt',
			modalSignBtnIn: 'LOGGA IN',
			modalSignBtnUp: 'SKAPA KONTO',
			modalSignTerms: 'Klicka på Skapa konto för <a href="/sw/terms/">att godkänna villkoren</a>',
			pagePlatformName: 'Plattform',
			pagePlatformName2: 'Plattform',
			pagePlatformMark: 'NYHET!',
			pageAmountName: 'ANTAL MYNT',
			pageAmountCoinsLabel: 'Mynt',
			pageAmountAmountLabel: 'Antal',
			pageAmountNext: 'Fortsätt',
			pageMethodName: 'LEVERANSMETOD',
			pageMethodCard1Name: 'Smidig leverans',
			pageMethodCard1Text: 'Det enda vi behöver är dina FUT 21-kontouppgifter. Vi sköter resten.',
			pageMethodCard2Name: 'MANUELL',
			pageMethodCard2Text: 'Följ våra instruktioner. Snabbt och säkert, men manuellt.',
			pageMethodCardBtn: 'välj',
			pageMethodCardSoon: 'Snart',
			pagePaymentMethodName: 'BETALNING',
			pagePaymentMethodSafe: '100 % SÄKRA BETALNINGAR',
			pagePaymentMethodTotalAmount: 'Totalbelopp',
			pagePaymentMethodCoupon: 'kupong',
			pagePaymentMethodCouponHave: 'Har en kupong',
			pagePaymentMethodCouponApply: 'ANVÄND kupong',
			pagePaymentMethodPay: 'Betala med kort',
			pagePaymentMethodPayOther: 'Betala med något',
			pageDeliveryName: 'LEVERERAR <div class="site__tab-name-content">beställning №<span></span></div>',
			pageDeliveryTab1: 'Spelkonto',
			pageDeliveryTab2: 'Reservkoder',
			pageDeliveryTab3: 'Behandlar',
			pageDeliveryTab4: 'Klar',
			pageDeliveryFormSuccess: 'Beställningen har levererats, beställningsstatus: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Visa beställning',
			pageDeliveryContent1Name: 'Ange dina kontouppgifter hos EA',
			pageDeliveryContent1Text: 'Du har valt den enkla metoden – det innebär att vi säljer spelare åt dig. <br>Vi använder ditt konto för att göra övergångarna, ingenting annat. <br>Vi rekommenderar att du byter lösenord till kontot när beställningen har levererats.',
			pageDeliveryContent1Email: 'E-post',
			pageDeliveryContent1Password: 'Lösenord',
			pageDeliveryContent1SeePassword: 'Se lösenord',
			pageDeliveryContent1Next: 'Nästa',
			pageDeliveryContent2Name: 'Ange den 8 tecken långa koden',
			pageDeliveryContent2Text: 'Gå till <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a> så hittar du koden under Reservkoder på sidan Säkerhet',
			pageDeliveryContent2Code: 'Ange kod',
			pageDeliveryContent2CodePlaceholder: 'Reservkoder',
			pageDeliveryContent2Next: 'Nästa',
			pageDeliveryContent3Name: 'Använda ditt konto',
			pageDeliveryContent3Process1: 'Använd inte kontot medan vi gör överföringen',
			pageDeliveryContent3Process2: 'Du kan lämna sidan. Vi kontaktar dig via e-post när beställningen har levererats.',
			sidebarTrust: 'en-GB',
			sidebarTrustWidth: '236px',
			cookieTitle: 'Vi använder cookies',
			cookieText: 'Vi använder cookies på webbplatsen för att förbättra upplevelsen för dig. Genom att använda webbplatsen godkänner du vår användning av cookies. Läs vår integritetspolicy.',
			cookieButton: 'Okej',
			commentReviews: 'omdömen',
			commentRated: 'Betyg',
			commentOut: 'av',
			commentUrl: 'https://se.trustpilot.com/review/royalfut.com',
		},
		no: {
			sublogo: 'FIFA 21 mynter',
			lang: 'en-GB',
			menuSignIn: 'LOGG INN',
			menuLinkOrder: 'KJØP MYNTER',
			menuLinkDesc: 'Systemet vårt er fullstendig automatisert, <br>så vi leverer mynter døgnet rundt.',
			menuLinkReviews: 'Anmeldelser',
			menuLinkFaq: 'VANLIGE SPØRSMÅL',
			menuLinkDelivery: 'Leverings',
			footerLinkContact: 'Kontakt',
			footerLinkDelivery: 'Leverings',
			footerLinkPayment: 'Betalings',
			footerLinkPrivacy: 'Personvern',
			footerLinkTerms: 'Godta vilkårene',
			sidebarTitle: 'Siste omtaler',
			sidebarAllLink: 'Alle omtaler',
			modalSocialSigin: "Registrer deg via",
			modalSocialSiginFB: "Registrer deg via FaceBook",
			modalSocialSiginGoogle: "Registrer deg via Google",
			modalSocialForgot: 'Har du glemt passordet ditt?',
			modalSocialOr: 'eller',
			modalSocialLogin: 'Logg deg inn via',
			modalSocialLoginFB: 'Logg deg inn via FaceBook',
			modalSocialLoginGoogle: 'Logg deg inn via Google',
			modalSocialForgot: "",
			modalSocialLoginCheck: 'Jeg godtar vilkårene',
			modalTabSignUp: 'REGISTRER DEG',
			modalTabSignIn: 'LOGG INN',
			modalSignEmail: 'E-postadresse',
			modalSignLogin: 'Brukernavn',
			modalSignPassword: 'Passord',
			modalSignSeePassword: 'Se passordet ditt',
			modalSignSymbols8: 'minst 8 tegn',
			modalSignSymbols3: 'minst 3 tegn',
			modalSignBtnIn: 'LOGG INN',
			modalSignBtnUp: 'REGISTRER DEG',
			modalSignTerms: 'Klikk på «Registrer deg» for <a href="/no/terms/">å godta vilkårene</a>',
			pagePlatformName: 'Plattform',
			pagePlatformName2: 'Plattform',
			pagePlatformMark: 'NYHET!',
			pageAmountName: 'MYNTBELØP',
			pageAmountCoinsLabel: 'Mynter',
			pageAmountAmountLabel: 'Antall',
			pageAmountNext: 'Fortsett',
			pageMethodName: 'LEVERINGSMETODE',
			pageMethodCard1Name: 'Comfort trade',
			pageMethodCard1Text: 'Krever kun FUT 21-kontoopplysningene dine. Vi gjør resten for deg.',
			pageMethodCard2Name: 'MANUELL',
			pageMethodCard2Text: 'Du må følge instruksjonene vi gir deg. Raskt og trygt, men manuelt.',
			pageMethodCardBtn: 'Velg',
			pageMethodCardSoon: 'Snart',
			pagePaymentMethodName: 'BETALING',
			pagePaymentMethodSafe: '100 % SIKKER BETALING',
			pagePaymentMethodTotalAmount: 'Totalt',
			pagePaymentMethodCoupon: 'kupong',
			pagePaymentMethodCouponHave: 'Har en kupong',
			pagePaymentMethodCouponApply: 'BRUK kupong',
			pagePaymentMethodPay: 'Betal med kort',
			pagePaymentMethodPayOther: 'Betal med noe',
			pageDeliveryName: 'LEVERER <div class="site__tab-name-content">bestilling nr.<span></span></div>',
			pageDeliveryTab1: 'Spillkonto',
			pageDeliveryTab2: 'Reservekoder',
			pageDeliveryTab3: 'Behandler',
			pageDeliveryTab4: 'Ferdig',
			pageDeliveryFormSuccess: 'Bestilling sendt, bestillingsstatus: <span class="status"></span>',
			pageDeliveryFormSuccessBtn: 'Vis bestilling',
			pageDeliveryContent1Name: 'Oppgi EA-kontoopplysningene dine',
			pageDeliveryContent1Text: 'Du har valgt den enkle metoden. Det innebærer at vi selger spillerne på dine vegne. <br>Vi vil bare bruke kontoen din til å arrangere overføringer og ikke til noe annet formål. <br>Vi anbefaler at du bytter passord på kontoen din når bestillingen er fullført.',
			pageDeliveryContent1Email: 'E-postadresse',
			pageDeliveryContent1Password: 'Passord',
			pageDeliveryContent1SeePassword: 'Se passordet ditt',
			pageDeliveryContent1Next: 'Neste',
			pageDeliveryContent2Name: 'Oppgi den 8-sifrede koden',
			pageDeliveryContent2Text: 'Denne koden finner du på «Sikkerhet»-siden på <a href="https://myaccount.ea.com/cp-ui/security/index" rel="noindex, nofollow" target="_blank">myaccount.ea.com</a>, under Reservekoder-delen',
			pageDeliveryContent2Code: 'Skriv inn kode',
			pageDeliveryContent2CodePlaceholder: 'Reservekoder',
			pageDeliveryContent2Next: 'Neste',
			pageDeliveryContent3Name: 'Bruk av kontoen',
			pageDeliveryContent3Process1: 'Ikke bruk kontoen din mens vi overfører',
			pageDeliveryContent3Process2: 'Du kan nå lukke denne siden. Vi sender deg en e-postadresse når bestillingen er fullført.',
			sidebarTrust: 'en-GB',
			sidebarTrustWidth: '236px',
			cookieTitle: 'Vi benytter oss av informasjonskapsler',
			cookieText: 'Vi bruker informasjonskapsler på nettstedet vårt for å gi deg en bedre brukeropplevelse. Når du bruker dette nettstedet, samtykker du i vår bruk av informasjonskapsler. Les vår personvernerklæring.',
			cookieButton: 'Skjønner',
			commentReviews: 'anmeldelser',
			commentRated: 'stjerner',
			commentOut: 'av',
			commentUrl: 'https://no.trustpilot.com/review/royalfut.com',
		},
	};
