section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.delivery
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Wiederkommen

	h1.site__title
		| VERSAND

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] ist Klassik im neuen Stil. Dutzende Projektteilnehmer sind daran interessiert, Ihre Spieler zu kaufen. Die sicherste Option für den Kauf von FUT Münzen im Internet. Wir bieten Ihnen einen Einkauf wie im Geschäft. Mit unserem System erhalten Sie Ihre Münzen viel schneller.

		p Bitte beachten Sie die Systemanleitung, damit Ihre Münzen so schnell wie möglich versandt werden können.
