div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Wiederkommen

	h2.site__title
		| HABEN SIE FRAGEN?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Warum sollte ich ROYALFUT wählen?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT ist die sicherste Methode, das Guthaben Ihres FIFA Ultimate Team Clubs aufzufüllen.
				p • Mit unseren Preisen ist Ihr Traumteam nur wenige Klicks entfernt
				p • Wir garantieren einen sicheren Einkauf und die Sicherheit Ihres Kontos
				p • Die Zustellung dauert im Durchschnitt höchstens 15 Minuten
				p • Wir liefern 365 Tage im Jahr und rund um die Woche.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| Wie kann ich meine EA-Kontoinformationen auf der Website ändern?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Mit Ihrer Telefonnummer:
				p 1. Öffnen Sie das Menü rechts, indem Sie auf die Drei-Leisten-Schaltfläche klicken.
				p 2. Tippen Sie auf Ihren Benutzernamen oder melden Sie sich bitte bei Ihrem ROYALFUT-Konto an.
				p 3. Unten auf Ihrer Profilseite wird das Formular für die Eingabe Ihrer EA-Kontoinformationen angezeigt.
				p Mit dem Desktop-Computer:
				p 1. Klicken Sie auf den Benutzernamen in der rechten oberen Ecke des Bildschirms. Bitte melden Sie sich bei Ihrem ROYALFUT-Konto an, falls der Benutzername nicht angezeigt wird.
				p 3. Unten auf Ihrer Profilseite wird das Formular für die Eingabe Ihrer EA-Kontoinformationen angezeigt.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| Wann erhalte ich die Münzen?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p Die durchschnittliche Dauer des Komforthandels beträgt höchstens 15 Minuten.
				p Die durchschnittliche Versandzeit über die Spielerauktion beträgt 40 Minuten. Befolgen Sie alle Aufforderungen und erhalten Sie Ihre Münzen so schnell wie möglich.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| Wie verwende ich die ROYALFUT-Gutscheine?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Sie können die Gutscheine an der Kasse einlösen. Jeder einzelne Gutschein bietet einen anderen Rabatt. Wenn Sie den Gutschein einlösen, wird der Preis Ihres Einkaufs automatisch angepasst.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| Ist der Kauf von Münzen bei ROYALFUT.com sicher?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Ja, der Kauf ist absolut sicher. Auch nach 5.000 erfolgreich abgeschlossenen Bestellungen mit unserem Versandalgorithmus wurden die FUT-Clubs unserer Benutzer noch nie gesperrt oder zurückgesetzt.
				p Wer nutzen auf unserer Website darüber hinaus zuverlässige Zahlungssysteme von Drittanbietern für Annahme der Zahlungen. Unsere Partner wie PayPal oder PayApp verschlüsseln die Zahlungen, um 100 % Sicherheit garantieren zu können.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| In welchen Ländern ist ROYALFUT tätig?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Wir senden Münzen an FUT-Spieler überall auf der Welt.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Kaufen Sie Münzen von den Benutzern?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Nein, im Moment nicht. Wir informieren Sie zu diesem Thema, wenn sich die Situation ändert.
