section.main.site__col-12.site__col-lg-9.site__col-xl-9.site__col-xxl-9.offset-xl-1.offset-xxl-2.reviews
	h1.site__title.site__title--2
		| SCHNELLER UND SICHER&nbsp;
		br
		| KAUFEN SIE FUT 21 MÜNZEN

	.main__content
		a.btn.main__button.js-buy(href=`${url}order/`)
			span.btn__content
				| MÜNZEN KAUFEN

		svg.main__content-icon.for-laptop(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 42 12")
			path(d="M.99 5.26l3.509 5.717M.989 5.26L6.123.798M.99 5.26c16.65 2.164 34.038.884 40.65-.026" fill="none" stroke="#E5B713")
		svg.main__content-icon.for-mobile(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 24")
			path(d="M5.886.778L.583 4.887M5.886.777l4.992 4.618M5.886.778C5.886 18.5 18 23.5 30 23.5" fill="none" stroke="#E5B713")

		.main__content-text
			| Unser System ist voll automatisiert, #[br]deshalb liefern Ihre Münzen rund um die Uhr zu jeder Tageszeit.

	.reviews__content
		h2.reviews__title
			| Neueste Bewertungen

		ul.reviews__list
			li.reviews__item
				+review({
					image: 'AM',
					imageText: true,
					flag: 'UA.svg',
					name: 'ANDREW M.',
					time: '',
					text: 'nice and quick',
					stars: 4,
				})
			li.reviews__item
				+review({
					image: 'RB',
					imageText: true,
					flag: 'PA.svg',
					name: 'RYAN B.',
					time: '',
					text: 'Perfect',
				})
			li.reviews__item
				+review({
					image: 'NS',
					imageText: true,
					flag: 'PA.svg',
					name: 'NIKOLAOS S.',
					time: '',
					text: 'very good',
				})
			li.reviews__item
				+review({
					image: 'NG',
					imageText: true,
					flag: 'RU.svg',
					name: 'NICKY G.',
					time: '',
					text: 'Really good and cheap',
					stars: 4,
				})
			li.reviews__item
				+review({
					image: 'FJ',
					imageText: true,
					flag: 'PA.svg',
					name: 'FARAYI J.',
					time: '',
					text: 'Awesome',
				})

			li.reviews__item
				+review({
					image: 'FJ',
					imageText: true,
					flag: 'UA.svg',
					name: 'KAMRAN E.',
					time: '',
					text: 'good job',
					stars: 4,
				})
			li.reviews__item
				+review({
					image: 'DT',
					imageText: true,
					flag: 'RU.svg',
					name: 'DANIIL T.',
					time: '',
					text: 'excellent!',
				})
			li.reviews__item
				+review({
					image: 'DR',
					imageText: true,
					flag: 'UA.svg',
					name: 'DANIL R.',
					time: '',
					text: 'genius!',
				})
			li.reviews__item
				+review({
					image: 'AE',
					imageText: true,
					flag: 'RU.svg',
					name: 'ALEX E.',
					time: '',
					text: 'Great',
					stars: 4,
				})
			li.reviews__item
				+review({
					image: 'RM',
					imageText: true,
					flag: 'UA.svg',
					name: 'ROBERT M.',
					time: '',
					text: 'Brilliant!',
				})
			li.reviews__item
				+review({
					image: 'MW',
					imageText: true,
					flag: 'PA.svg',
					name: 'MARK W.',
					time: '',
					text: 'Fast and efficient',
					stars: 4,
				})
			li.reviews__item
				+review({
					image: 'JA',
					imageText: true,
					flag: 'DE.svg',
					name: 'JESUS A.',
					time: '',
					text: 'Great service',
				})
			li.reviews__item
				+review({
					image: 'SF',
					imageText: true,
					flag: 'DE.svg',
					name: 'SETH F.',
					time: '',
					text: 'Good',
					stars: 4,
				})
			li.reviews__item
				+review({
					image: 'AK',
					imageText: true,
					flag: 'PA.svg',
					name: 'ARTI K.',
					time: '',
					text: 'Top!!',
				})
			li.reviews__item
				+review({
					image: 'YK',
					imageText: true,
					flag: 'UA.svg',
					name: 'YANTL K.',
					time: '',
					text: 'The best',
				})
			li.reviews__item
				+review({
					image: 'EB',
					imageText: true,
					flag: 'PA.svg',
					name: 'EMYE B.',
					time: '',
					text: 'Thanks',
					stars: 4,
				})
			li.reviews__item
				+review({
					image: 'EG',
					imageText: true,
					flag: 'UA.svg',
					name: 'ETAN G.',
					time: '',
					text: 'Amazing',
				})
			li.reviews__item
				+review({
					image: 'DN',
					imageText: true,
					flag: 'RU.svg',
					name: 'DIMA N.',
					time: '',
					text: 'SUPER',
				})
			li.reviews__item
				+review({
					image: 'PS',
					imageText: true,
					flag: 'DE.svg',
					name: 'PIETRO S.',
					time: '',
					text: 'Best delivery',
				})
			li.reviews__item
				+review({
					image: 'DT',
					imageText: true,
					flag: 'UA.svg',
					name: 'DAVIDE T.',
					time: '',
					text: 'Nice and easy',
					stars: 4,
				})
			li.reviews__item
				+review({
					image: 'KP',
					imageText: true,
					flag: 'PA.svg',
					name: 'KYLE P.',
					time: '',
					text: 'Really quick deliver',
					stars: 4,
				})
			li.reviews__item
				+review({
					image: 'AA',
					imageText: true,
					flag: 'RU.svg',
					name: 'ABDULLAH A.',
					time: '',
					text: 'All right',
				})
			li.reviews__item
				+review({
					image: 'GJ',
					imageText: true,
					flag: 'UA.svg',
					name: 'GORAN J.',
					time: '',
					text: 'Wow',
				})
			li.reviews__item
				+review({
					image: 'JT',
					imageText: true,
					flag: 'PA.svg',
					name: 'JIM T.',
					time: '',
					text: 'wow perfect',
				})