div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Retour au site

	h2.site__title
		| D'AUTRES QUESTIONS ?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Pourquoi choisir ROYALFUT ?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT - est le moyen le plus sûr de renflouer rapidement le solde de votre club FIFA Ultimate Team.
				p • Grâce à nos prix, votre équipe de rêve n'est qu'à quelques clics
				p • Nous garantissons la sécurité de l'achat et de votre compte
				p • Le délai moyen de livraison est de 15 minutes maximum
				p • Nous livrons des pièces 24 h/24, 7 j/7 et 365 j/an.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| Comment puis-je modifier les détails de mon compte EA sur le site Web ?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Sur un téléphone :
				p 1. Ouvrez le menu de droite en tapant sur le bouton à trois barres.
				p 2. Tapez sur votre pseudo. En l'absence de pseudo, veuillez vous connecter à votre compte ROYALFUT.
				p 3. En bas de la page de votre profil, vous trouverez le formulaire de saisie des données du compte EA.
				p Sur un ordinateur de bureau :
				p 1. Cliquez sur votre pseudo dans le coin supérieur droit de l'écran. En l'absence de pseudo, veuillez vous connecter à votre compte ROYALFUT.
				p 2. En bas de la page de votre profil, vous trouverez le formulaire de saisie des données du compte EA.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| Quand vais-je recevoir les crédits ?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p Dans Transaction confort, le délai moyen n'excède pas 15 minutes.
				p Dans Enchères joueur, le délai moyen de livraison est de 40 minutes. Suivez fidèlement et sans délai les instructions afin de recevoir les pièces le plus rapidement possible.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| Comment utiliser le coupon ROYALFUT ?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Vous pouvez utiliser le coupon à l'étape du paiement. Chaque coupon offre une réduction différente. Après l'activation du coupon, le coût de votre achat sera automatiquement ajusté.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| L'achat de crédits sur ROYALFUT.COM est-il sûr ?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Oui, tout à fait sûr. Après plus de 5 000 commandes finalisées sans problème à l'aide de nos algorithmes de livraison, aucun utilisateur n'a jamais été confronté à une interdiction ou à une réinitialisation du club FUT.
				p De plus, pour accepter les paiements sur le site Web, nous avons recours à des systèmes de paiement tiers fiables. Nos partenaires actuels, comme PayPal ou PayApp, garantissent une sécurité de vos paiements à 100 % grâce au cryptage.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| Quels sont les pays dans lesquels ROYALFUT opère ?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Nous livrons des crédits aux joueurs FUT du monde entier.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Achetez-vous des crédits à des utilisateurs ?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Pas actuellement. Si à ce propos, la situation change, nous procéderons à une mise à jour.
