section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.payment
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Retour au site

	h1.site__title
		| Paiement

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] accepte les paiements en euros. Seuls les utilisateurs enregistrés peuvent effectuer des paiements sur le site.
		p Les paiements sont effectués par le biais du systèmes de paiement internationaux #[a(href="https://payver.eu/" target="_blank" noindex) payver] et #[a(href="https://paypal.com/" rel="noindex, nofollow" target="_blank" noindex) paypal]. Notre système accepte tous les paiements effectués par carte bancaire, quel que soit votre pays ou la banque d'émission de la votre carte. Lors du paiement d'une commande, vous êtes à même de choisir le mode de paiement qui vous convient le mieux.
		p En achetant notre produit numérique, vous pouvez être assuré que votre argent est en sécurité.
		p Le retour ou l'annulation d'une commande payée est impossible.
