section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.delivery
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Powrót do strony

	h1.site__title
		| Dostaw

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] to nowe spojrzenie na znany temat. W projekt zaangażowana jest rekordowa liczba dostawców, którzy chętnie kupią twoich zawodników. Najbezpieczniejsza opcja zakupu monet FUT w Internecie. Stworzyliśmy też system interakcji sklep-klient. Dzięki temu systemowi dostarczamy monety znacznie szybciej.

		p Aby dostawa twoich monet była jak najszybsza, postępuj zgodnie z instrukcjami systemu.
