div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Powrót do strony

	h2.site__title
		| NADAL MASZ PYTANIA?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Dlaczego powinienem wybrać ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT - jest najbezpieczniejszym sposobem do szybkiego uzupełnienie salda FIFA Ultimate Team Club.
				p • Dzięki naszym cenom twój wymarzony zespół jest w zasięgu kilku kliknięć
				p • Gwarantujemy bezpieczeństwo zakupu i twojego konta
				p • Średni czas dostawy nie przekracza 15 minut
				p • Monety dostarczamy 24/7/365.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| Jak mogę zmienić dane mojego konta EA na stronie internetowej?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Za pomocą telefonu:
				p 1. Otwórz menu naciskając po prawej stronie przycisk z trzema paskami.
				p 2. Nacisnij na swój pseudonim. Jeśli nie ma pseudonimu, zaloguj się na swoje konto ROYALFUT.
				p 3. Na dole strony profilu zobaczysz formularz wprowadzania danych do konta EA.
				p Korzystając z urządzenia stacjonarnego:
				p 1. Nacisnij na swój pseudonim w prawym górnym rogu ekranu. Jeśli pseudonim się nie pojawia, zaloguj się na swoje konto ROYALFUT.
				p 2. Na dole strony profilu zobaczysz formularz wprowadzania danych do konta EA.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| Kiedy otrzymam monety?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p Średni czas Comfort trade nie przekracza 15 minut.
				p Średni czas dostawy za pośrednictwem aukcji gracza wynosi 40 minut. Postępuj zgodnie z instrukcjami, aby otrzymać monety tak szybko, jak to możliwe.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| Jak mogę wykorzystać kupon ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Można zastosować kupon na etapie płatności. Każdy kupon oferuje różne zniżkę. Po zastosowaniu kuponu koszt zakupu zostanie automatycznie dostosowany.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| Czy kupowanie monet na ROYALFUT.COM jest bezpieczne?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Tak, jest to całkowicie bezpieczne. Zrealizowano ponad 5000 zamówień przy użyciu naszych algorytmów dostawy, żaden użytkownik nigdy nie spotkał się z blokadą lub resetem klubu FUT.
				p Korzystamy również z niezawodnych zewnętrznych systemów płatności, aby przyjmować płatności na stronie internetowej. Nasi obecni partnerzy, tacy jak PayPal czy PayApp, używają szyfrowania, aby zagwarantować 100% bezpieczeństwo twoich płatności.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| W jakich krajach działa ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Dostarczamy monety do FUT graczy na całym świecie.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Kupujesz monety od użytkowników?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p W tej chwili nie. Zaktualizujemy temat, jeśli sytuacja się zmieni.
