section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.payment
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Powrót do strony

	h1.site__title
		| Płatności

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] przyjmuje płatności w euro. Tylko zarejestrowani użytkownicy mogą dokonywać płatności na stronie.
		p Płatności dokonywane są poprzez #[a(href="https://payver.eu/" target="_blank" noindex) payver] oraz #[a(href="https://paypal.com/" rel="noindex, nofollow" target="_blank" noindex) paypal] międzynarodowe systemy płatności . Działa on ze wszystkimi płatnościami kartami bankowymi, niezależnie od kraju ani banku wystawiającego kartę. Podczas opłacania zamówienia możesz wybrać najbardziej dogodną formę płatności.
		p Podczas zakupu naszego produktu cyfrowego możesz mieć pewność, że twoje pieniądze są bezpieczne.
		p Opłaconego zamówienia nie możesz zwrócić ani anulować.
