section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.contact
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Terug naar de site

	h1.site__title
		| Rubriek Contacten

	.site__text
		.contact__content.contact__social
			.contact__social-col

				p Neem contact met ons op

				.contact__social-row

					a.contact__social-btn.contact__social-btn--whatsapp(href="https://api.whatsapp.com/send?phone=74952604325" 	rel="nofollow" target="_blank")
						+svg('support2')

					//- a.contact__social-btn.contact__social-btn--twitter(href="https://twitter.com/royalfutcoins" target="_blank")
					//- 	+svg('twitter')

			.contact__social-col
				p Social
				.contact__social-row
					a.contact__social-btn.contact__social-btn--insta(href="https://www.instagram.com/royalfutcoins/" rel="nofollow" target="_blank")
						+svg('instagram')

					a.contact__social-btn.contact__social-btn--whatsapp(href="https://twitter.com/royalfutcoins" rel="nofollow" target="_blank")
						+svg('twitter')
					a.contact__social-btn.contact__social-btn--whatsapp(href="https://www.tiktok.com/@royalfutcoins?" rel="nofollow" target="_blank")
						+svg('tt')

		.
			p E-mail

			.contact__email
				| #[a(href="mailto:support@royalfut.com") support@royalfut.com]
			br
			br
			p Europees kantoor: Yasha Limited, kantoor 1002 Nicolaou Pentadromos Center, Limassol, Cyprus,
			p Kantoor in het Midden-Oosten: Yasha Limited, Oficina 1002 Nicolaou Pentadromos Center, Dubai, Verenigde Arabische Emiraten
