div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Terug naar de site

	h2.site__title
		| HEB JE VRAGEN?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Waarom zal ik ROYALFUT kiezen?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT — is de veiligste manier om snel je FIFA Ultimate Team Club balans aan te vullen.
				p • Met onze prijzen heb je jouw droomteam in slechts een paar klikken
				p • Wij garanderen een veilige aankoop en een beveiligd account
				p • De gemiddelde levertijd duurt slechts 15 minuten
				p • Wij bezorgen munten 24/24 - 7/7 en 365/365.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| Hoe verander ik mijn EA-accountgegevens op de website?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Via je telefoon:
				p 1. Open het menu aan de rechterkant en klik op de drie balkjes
				p 2. Klik op je gebruikersnaam. Als je geen gebruikersnaam hebt, log dan in op je ROYALFUT-account.
				p 3. Onderaan je profielpagina zie je het formulier EA-accountgegevens.
				p Via je desktop:
				p 1. Klik op je gebruikersnaam rechts boven van het scherm. Als je geen gebruikersnaam hebt, log dan in op je ROYALFUT-account.
				p 2. Onderaan je profielpagina zie je het formulier EA-accountgegevens.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| Wanneer ontvang ik mijn munten?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p Een Comfort-trade duurt niet langer dan 15 minuten.
				p De gemiddelde levertijd via de Spelersveiling is 40 minuten. Volg de instructies onmiddellijk en nauwkeurig om de munten zo snel mogelijk te ontvangen.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| Hoe gebruik ik een ROYALFUT bon?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Je kan de kortingsbon tijdens het afrekenen invoeren. Elke bon biedt een andere korting. Nadat je de kortingsbon hebt ingevoerd, worden de kosten van je aankoop automatisch aangepast.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| Is de aankoop van munten via ROYALFUT.COM wel veilig?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Ja, het is volkomen veilig. Al meer dan 5000 bestellingen zijn succesvol voltooid dankzij onze bezorgalgoritmen. Geen enkele gebruiker heeft ooit een FUT-clubverbod of reset ontvangen.
				p We gebruiken ook betrouwbare betalingssystemen van derden om betalingen op de website te accepteren. Onze huidige partners zoals PayPal of PayApp gebruiken encryptie om je betalingen 100% te garanderen.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| In welke landen is ROYALFUT actief?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p We bezorgen munten aan FUT-spelers over de hele wereld.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Kopene jullie munten van gebruikers?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Momenteel niet. We zullen jullie updaten indien dit verandert.
