extends ../../../pug/base

prepend vars
	- title = 'Kup monety FIFA 21 na PS4 tanio i bezpiecznie| Monety FUT 21 na PS4 | ROYALFUT'
	- description = 'Szukasz najlepszej platformy, by kupić monety FIFA 21 na PS4? Oferujemy najszybszą i najbezpieczniejszą dostawę monet FUT w niskich cenach oraz całodobowe wsparcie online. Kup monety FUT 21 na PS4 już teraz!'

append vars
	- html.attrs.lang = 'pl'
	- body.attrs = {"data-barba": "wrapper"}
	- meta.viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover'
	- link.icon384x384 = '/android-chrome-384x384.png'
	- link.icon192x192 = '/android-chrome-192x192.png'
	- link.appleTouchIcon180x180 = '/apple-touch-icon.png'
	- link.icon = '/favicon.ico'
	- link.icon32x32 = '/favicon-32x32.png'
	- link.icon16x16 = '/favicon-16x16.png'
	- link.manifest = '/site.webmanifest'
	- meta.msapplicationTileImage = '/mstile-150x150.png'
	- link.canonical = '/pl/order/ps4/'

block hrefLang
	link(rel="alternate" hreflang="ar-SA" href="https://royalfut.com/ar/order/")
	link(rel="alternate" hreflang="ch-CH" href="https://royalfut.com/ch/order/")
	link(rel="alternate" hreflang="de-DE" href="https://royalfut.com/de/order/")
	link(rel="alternate" hreflang="en-US" href="https://royalfut.com/order/")
	link(rel="alternate" hreflang="en-GB" href="https://royalfut.com/order/")
	link(rel="alternate" hreflang="en-EN" href="https://royalfut.com/order/")
	link(rel="alternate" hreflang="es-ES" href="https://royalfut.com/es/order/")
	link(rel="alternate" hreflang="fr-FR" href="https://royalfut.com/fr/order/")
	link(rel="alternate" hreflang="it-IT" href="https://royalfut.com/it/order/")
	link(rel="alternate" hreflang="nl-NL" href="https://royalfut.com/nl/order/")
	link(rel="alternate" hreflang="no-NO" href="https://royalfut.com/no/order/")
	link(rel="alternate" hreflang="pl-PL" href="https://royalfut.com/pl/order/")
	link(rel="alternate" hreflang="pt-PT" href="https://royalfut.com/pt/order/")
	link(rel="alternate" hreflang="ru-RU" href="https://royalfut.com/ru/order/")
	link(rel="alternate" hreflang="sw-SE" href="https://royalfut.com/sw/order/")
	link(rel="alternate" hreflang="tr-TR" href="https://royalfut.com/tr/order/")
	link(rel="alternate" hreflang="x-default" href=" https://royalfut.com/order/")

block content
	include ../../base

	picture.site__media.is-hidden
		img(src=`${baseDir}images/bg-.jpg` alt="bg picture")

	.site.is-hidden(data-barba="container" data-barba-namespace="order")
		include ../../../pug/components/header

		main
			.container
				.site-grid
					include ../../../pug/pages/pl/ps4
					include ../../../pug/components/sidebar

		include ../../../pug/components/footer
		include ../../../pug/components/cookie

		include ../../../pug/components/signin
