RewriteEngine on
RewriteBase /
Redirect 301	/ar/contact.html	/ar/contact/
Redirect 301	/ch/contact.html	/ch/contact/
Redirect 301	/de/contact.html	/de/contact/
Redirect 301	/es/contact.html	/es/contact/
Redirect 301	/fr/contact.html	/fr/contact/
Redirect 301	/it/contact.html	/it/contact/
Redirect 301	/nl/contact.html	/nl/contact/
Redirect 301	/no/contact.html	/no/contact/
Redirect 301	/pl/contact.html	/pl/contact/
Redirect 301	/pt/contact.html	/pt/contact/
Redirect 301	/ru/contact.html	/ru/contact/
Redirect 301	/sw/contact.html	/sw/contact/
Redirect 301	/tr/contact.html	/tr/contact/
Redirect 301	/contact.html	/contact/
Redirect 301	/ar/delivery.html	/ar/delivery/
Redirect 301	/ch/delivery.html	/ch/delivery/
Redirect 301	/de/delivery.html	/de/delivery/
Redirect 301	/es/delivery.html	/es/delivery/
Redirect 301	/fr/delivery.html	/fr/delivery/
Redirect 301	/it/delivery.html	/it/delivery/
Redirect 301	/nl/delivery.html	/nl/delivery/
Redirect 301	/no/delivery.html	/no/delivery/
Redirect 301	/pl/delivery.html	/pl/delivery/
Redirect 301	/pt/delivery.html	/pt/delivery/
Redirect 301	/ru/delivery.html	/ru/delivery/
Redirect 301	/sw/delivery.html	/sw/delivery/
Redirect 301	/tr/delivery.html	/tr/delivery/
Redirect 301	/delivery.html	/delivery/
Redirect 301	/ar/faq.html	/ar/faq/
Redirect 301	/ch/faq.html	/ch/faq/
Redirect 301	/de/faq.html	/de/faq/
Redirect 301	/es/faq.html	/es/faq/
Redirect 301	/fr/faq.html	/fr/faq/
Redirect 301	/it/faq.html	/it/faq/
Redirect 301	/nl/faq.html	/nl/faq/
Redirect 301	/no/faq.html	/no/faq/
Redirect 301	/pl/faq.html	/pl/faq/
Redirect 301	/pt/faq.html	/pt/faq/
Redirect 301	/ru/faq.html	/ru/faq/
Redirect 301	/sw/faq.html	/sw/faq/
Redirect 301	/tr/faq.html	/tr/faq/
Redirect 301	/faq.html	/faq/
Redirect 301	/ar/order.html	/ar/order/
Redirect 301	/ch/order.html	/ch/order/
Redirect 301	/de/order.html	/de/order/
Redirect 301	/es/order.html	/es/order/
Redirect 301	/fr/order.html	/fr/order/
Redirect 301	/it/order.html	/it/order/
Redirect 301	/nl/order.html	/nl/order/
Redirect 301	/no/order.html	/no/order/
Redirect 301	/pl/order.html	/pl/order/
Redirect 301	/pt/order.html	/pt/order/
Redirect 301	/ru/order.html	/ru/order/
Redirect 301	/sw/order.html	/sw/order/
Redirect 301	/tr/order.html	/tr/order/
Redirect 301	/order.html	/order/
Redirect 301	/ar/payment.html	/ar/payment/
Redirect 301	/ch/payment.html	/ch/payment/
Redirect 301	/de/payment.html	/de/payment/
Redirect 301	/es/payment.html	/es/payment/
Redirect 301	/fr/payment.html	/fr/payment/
Redirect 301	/it/payment.html	/it/payment/
Redirect 301	/nl/payment.html	/nl/payment/
Redirect 301	/no/payment.html	/no/payment/
Redirect 301	/pl/payment.html	/pl/payment/
Redirect 301	/pt/payment.html	/pt/payment/
Redirect 301	/ru/payment.html	/ru/payment/
Redirect 301	/sw/payment.html	/sw/payment/
Redirect 301	/tr/payment.html	/tr/payment/
Redirect 301	/payment.html	/payment/
Redirect 301	/ar/privacy.html	/ar/privacy/
Redirect 301	/ch/privacy.html	/ch/privacy/
Redirect 301	/de/privacy.html	/de/privacy/
Redirect 301	/es/privacy.html	/es/privacy/
Redirect 301	/fr/privacy.html	/fr/privacy/
Redirect 301	/it/privacy.html	/it/privacy/
Redirect 301	/nl/privacy.html	/nl/privacy/
Redirect 301	/no/privacy.html	/no/privacy/
Redirect 301	/pl/privacy.html	/pl/privacy/
Redirect 301	/pt/privacy.html	/pt/privacy/
Redirect 301	/ru/privacy.html	/ru/privacy/
Redirect 301	/sw/privacy.html	/sw/privacy/
Redirect 301	/tr/privacy.html	/tr/privacy/
Redirect 301	/privacy.html	/privacy/
Redirect 301	/ar/reviews.html	/ar/reviews/
Redirect 301	/ch/reviews.html	/ch/reviews/
Redirect 301	/de/reviews.html	/de/reviews/
Redirect 301	/es/reviews.html	/es/reviews/
Redirect 301	/fr/reviews.html	/fr/reviews/
Redirect 301	/it/reviews.html	/it/reviews/
Redirect 301	/nl/reviews.html	/nl/reviews/
Redirect 301	/no/reviews.html	/no/reviews/
Redirect 301	/pl/reviews.html	/pl/reviews/
Redirect 301	/pt/reviews.html	/pt/reviews/
Redirect 301	/ru/reviews.html	/ru/reviews/
Redirect 301	/sw/reviews.html	/sw/reviews/
Redirect 301	/tr/reviews.html	/tr/reviews/
Redirect 301	/reviews.html	/reviews/
Redirect 301	/ar/terms.html	/ar/terms/
Redirect 301	/ch/terms.html	/ch/terms/
Redirect 301	/de/terms.html	/de/terms/
Redirect 301	/es/terms.html	/es/terms/
Redirect 301	/fr/terms.html	/fr/terms/
Redirect 301	/it/terms.html	/it/terms/
Redirect 301	/nl/terms.html	/nl/terms/
Redirect 301	/no/terms.html	/no/terms/
Redirect 301	/pl/terms.html	/pl/terms/
Redirect 301	/pt/terms.html	/pt/terms/
Redirect 301	/ru/terms.html	/ru/terms/
Redirect 301	/sw/terms.html	/sw/terms/
Redirect 301	/tr/terms.html	/tr/terms/
Redirect 301	/terms.html	/terms/
Redirect 301	/ar/termsold.html	/ar/termsold/
Redirect 301	/ch/termsold.html	/ch/termsold/
Redirect 301	/de/termsold.html	/de/termsold/
Redirect 301	/es/termsold.html	/es/termsold/
Redirect 301	/fr/termsold.html	/fr/termsold/
Redirect 301	/it/termsold.html	/it/termsold/
Redirect 301	/nl/termsold.html	/nl/termsold/
Redirect 301	/no/termsold.html	/no/termsold/
Redirect 301	/pl/termsold.html	/pl/termsold/
Redirect 301	/pt/termsold.html	/pt/termsold/
Redirect 301	/ru/termsold.html	/ru/termsold/
Redirect 301	/sw/termsold.html	/sw/termsold/
Redirect 301	/tr/termsold.html	/tr/termsold/
Redirect 301	/termsold.html	/termsold/

Redirect 301	/ar/profile.html	/ar/profile/
Redirect 301	/ch/profile.html	/ch/profile/
Redirect 301	/de/profile.html	/de/profile/
Redirect 301	/es/profile.html	/es/profile/
Redirect 301	/fr/profile.html	/fr/profile/
Redirect 301	/it/profile.html	/it/profile/
Redirect 301	/nl/profile.html	/nl/profile/
Redirect 301	/no/profile.html	/no/profile/
Redirect 301	/pl/profile.html	/pl/profile/
Redirect 301	/pt/profile.html	/pt/profile/
Redirect 301	/ru/profile.html	/ru/profile/
Redirect 301	/sw/profile.html	/sw/profile/
Redirect 301	/tr/profile.html	/tr/profile/
Redirect 301	/profile.html	/profile/

Redirect 301	/successLogin	/order/?successLogin=yes
Redirect 301	/errorLogin	/order/?successLogin=no