div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Siteye geri dön

	h2.site__title
		| HALA SORULARINIZ MI VAR?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Neden ROYALFUT'u seçmeliyim?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT — FIFA Ultimate Team kulüp bakiyenize ekleme yapmanın en güvenli ve hızlı yolu.
				p • Sunduğumuz fiyatlar sayesinde rüya takımınız sadece birkaç tıklama uzakta
				p • Satın alma işleminizin ve hesabınızın güvenliğini garanti ediyoruz
				p • Ortalama teslimat süresi 15 dakikayı geçmez
				p • Yılın her günü 7/24 teslimat yapıyoruz.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| EA hesabımın ayrıntılarını web sitesinde nasıl değiştiririm?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Telefon kullanarak:
				p 1. Üzerinde üç çizgi olan düğmeye dokunarak sağ menüyü açın.
				p 2. Takma adınıza tıklayın. Takma adınız yoksa lütfen ROYALFUT hesabınıza giriş yapın.
				p 3. Profil sayfanızın altında EA hesabı veri giriş formunu bulacaksınız.
				p Masaüstü cihazı kullanarak:
				p 1. Ekranın sağ üst köşesindeki takma adınıza tıklayın. Takma adınız yoksa lütfen ROYALFUT hesabınıza giriş yapın.
				p 2. Profil sayfanızın altında EA hesabı veri giriş formunu bulacaksınız.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| Jetonları ne zaman alacağım?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p Rahat işlemin ortalama süresi 15 dakikayı geçmez.
				p Oyuncu açık artırmasında ortalama teslimat süresi 40 dakikadır. Jetonları olabildiğince çabuk almak için talimatları hızlı ve doğru bir şekilde takip edin.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| ROYALFUT kuponu nasıl kullanılır?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Kuponu ödeme aşamasında uygulayabilirsiniz. Her kupon farklı bir indirim sunar. Kuponu uyguladıktan sonra, satın alma fiyatınız otomatik olarak ayarlanacaktır.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| ROYALFUT.COM üzerinden jeton satın almak güvenli midir?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Evet, tamamen güvenlidir. Teslimat algoritmalarımız kullanılarak 5000'den fazla sipariş başarıyla tamamlandık ve hiçbir kullanıcı FUT kulüp yasaklaması veya sıfırlama ile karşılaşmadı.
				p Ayrıca web sitesinde ödemeleri almak için güvenilir üçüncü taraf ödeme sistemleri kullanıyoruz. PayPal veya PayApp gibi ortaklarımız, ödemelerinizin %100 güvenliğini garanti etmek için şifreleme teknolojileri kullanır.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| ROYALFUT hangi ülkelerde faaliyet gösteriyor?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Tüm dünyadaki FUT oyuncularına hizmet veriyoruz.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Jetonları kullanıcılardan mı satın alıyorum?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Şu an için hayır. Bu değişirse konuyu güncelleyeceğiz.
