section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.privacy
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Siteye geri dön

	h1.site__title
		| Privacy

	.site__text
		p
			| Privacy Notice and Data Protection
		p
			| Below we inform you about the collection of personal data when using our website. Personal data is all data personally referable to you, for example, name, address, or e-mail addresses.
		p
			| I. General information about data processing
		p
			| 1. Extent of personal data processing
		p
			| We only collect and use personal data of our users insofar as it is necessary to provide a functional website, as well as our contents and services. The collection and use of our users' personal data take place periodically and only with the user's consent. An exception applies in those cases in which prior consent cannot be obtained for real reasons and data processing is permitted by legal regulations.
		p
			| 2. Legal basis for personal data processing
		p
			| Insofar as we obtain the consent of the data subject for personal data processing, Art. 6 lit. (a) of the EU General Data Protection Regulation (GDPR EUDATAP) serves as the legal basis for personal data processing. #[br]While processing of personal data necessary for the performance of a contract to which the data subject is a party, Article 6 (1) lit. (b) of GDPR EUDATAP shall serve as the legal basis. This also applies to processing operations that are necessary to carry out pre-contractual measures. #[br]Insofar as personal data processing is necessary to fulfill a legal obligation to which our company is subject, Art. 6 (1) lit. (c) of GDPR EUDATAP serves as the legal basis. #[br]If processing necessary to maintain a legitimate interest of our company or a third party and the interests, fundamental rights and freedoms of the data subject do not outweigh the former interest, Art. 6 (1) lit. (f) of GDPR EUDATAP serves as the legal basis for processing.
		p
			| 3. Data erasure and storage duration
		p
			| The personal data of the person concerned will be deleted or blocked as soon as the purpose of storage is eliminated. In addition, such storage may take place if provided by the European or national legislator in EU regulations, laws, or other regulations to which the controller is subject. Data blocking or deletion also takes place when a storage period prescribed by the standards mentioned expires, unless there is a need for further data storage to conclude or fulfill the contract.
		p
			| II. Website Provision and Creation of Log Files
		p
			| 1. Description and scope of data processing
		p
			| Each time our website is accessed, our system automatically collects data and information from the concrete computer's system. #[br]The following data is collected here: #[br](1) Information about the browser type and version used #[br](2) User's operating system #[br](3) User's Internet service provider #[br](4) User's IP address #[br](5) Access date and time #[br](6) Websites from which the user's system reaches our website #[br](7) Websites accessed by the user's system through our website
		p
			| The data is also stored in the log files of our system. The storage of this data together with other user's personal data does not take place.
		p
			| 2. Legal basis for data processing
		p
			| The legal basis for the data and log files' storage is Art. 6 (1) lit. (f) of GDPR EUDATAP.
		p
			| 3. Purpose of data processing
		p
			| The temporary storage of the IP address by the system is necessary to enable the website to be delivered to the user's computer. For this, the user's IP address must remain saved for the session duration. #[br]The data is stored in log files to ensure the website functionality. In addition, the data serves us to optimize the website and ensure the security of our information technology systems. The data evaluation for marketing purposes does not take place in this context. #[br]Our legitimate interest in data processing according to Art. 6 (1) lit. (f) of GDPR EUDATAP also lies in these purposes.
		p
			| 4. Duration of data storage
		p
			| The data will be deleted as soon as they are no longer necessary to achieve the purpose for which they were collected. Data collection for the website provision is the case when the respective session has ended. #[br]If the data is stored in log files, this is the case after seven days at the latest. Further storage is possible. In case a user's IP addresses are deleted or alienated, the calling client assignment is no longer possible.
		p
			| 5. Possibility of opposition and removal
		p
			| Data collection for the website provision and data storage in log files are essential for the website operation. There is consequently no contradiction on the user's part.
		p
			| III. Use of cookies
		p
			| 1. Description and extent of data processing
		p
			| To make the visit to our website attractive and enable the use of certain functions, we use so-called cookies on various pages. These are small text files stored on your device. Some of the cookies we use are deleted after the browser session ends, i.e. after you close your browser (transient cookies). Other cookies remain on the device and allow us or our affiliate to recognize your browser on your next visit (persistent cookies). #[br]Transient cookies are automatically deleted when you close the browser. These ones include session cookies in particular. Session cookies store a so-called session ID with which various requests from your browser can be assigned to the common session. It allows your computer to be recognized when you return to our website. Session cookies are deleted when you log out or close the browser. #[br]The following data is stored and transmitted in persistent cookies: #[br](1) Information about participants of our affiliate program – via whose link a customer has entered our shop
		p
			| 2. Legal basis for data processing
		p
			| The legal basis for personal data processing using cookies is Art. 6 (1) lit. (f) of GDPR EUDATAP.
		p
			| 3. Purpose of data processing
		p
			| The purpose of using technically necessary cookies is to simplify the use of websites for users. Some functions of our website cannot be offered without the use of cookies. For this, it is necessary that the browser is recognized even after a page change. #[br]We need cookies for the following applications: #[br](1) Shopping cart #[br](2) Login payment process #[br](3) Measuring the performance of participants in the affiliate program
		p
			| The user data collected by technically necessary cookies will not be used to create user profiles. #[br]For these reasons, our legitimate interest also lies in the processing of personal data in accordance with Art. 6 (1) lit. (f) of GDPR EUDATAP.
		p
			| 4. Duration of data storage and possibility of opposition and removal
		p
			| Cookies are stored on the user's computer and transmitted by it to our site. Therefore, as a user, you have full control over the use of cookies. By changing the settings in your web browser, you can disable or restrict the transmission of cookies. Already saved cookies can be deleted at any time. It can also be done automatically. If cookies are disabled for our website, it may not be possible to use all the functions of the website to the full.
		p
			| IV. Newsletter
		p
			| 1. Description and extent of data processing
		p
			| With your consent, you can subscribe to our newsletter which informs you about our current interesting offers. The advertised goods and services are named in the Declaration of Consent. #[br]To register for our newsletter, we use the double-opt-in procedure. It means that after you have registered, we will send you an e-mail to the specified address in which we ask you to confirm that you wish to receive our newsletter. If you do not confirm your registration within 24 hours, your information will be blocked and automatically deleted after one month. In addition, we store your IP addresses and times of registration and confirmation. The procedure's purpose is to prove your registration and, if necessary, clarify a possible misuse of your personal data. #[br]The only requirement for sending the newsletter is your e-mail address. After your confirmation, we will save your e-mail address to send you our newsletter in the future.
		p
			| 2. Legal basis for data processing
		p
			| The legal basis is Art. 6 (1) lit. (a) of GDPR EUDATAP.
		p
			| 3. Purpose of data processing
		p
			| The collection of the user's e-mail address serves to deliver the newsletter.
		p
			| 4. Duration of data storage
		p
			| The e-mail address will be stored as long as the subscription to the newsletter exists.
		p
			| 5. Possibility of opposition and removal
		p
			| You can revoke your consent to the newsletter mailing and unsubscribe from it at any time. You can declare the cancellation by clicking on the link provided in each newsletter e-mail, by e-mailing to support@royalfut.com, or sending a message to the contact details stated in the imprint.
		p
			| V. Registration
		p
			| 1. Description and extent of data processing
		p
			| On our website, we offer users the opportunity to register by providing personal information. The data is entered into an input mask, transmitted to us, and stored. Data transferring to third parties takes place only as far as our partner companies need the data for order processing. The following data is collected during the registration process on our website: #[br](1) Login #[br](2) E-Mail address #[br](3) Password
		p
			| At the time of registration, the following data is also stored: #[br](1) IP-Address #[br](2) Registration date and time
		p
			| As a part of the registration process, the user's consent to process this data is obtained.
		p
			| 2. Legal basis for data processing
		p
			| In the case of consent, the legal basis for processing the user's data is Art. 6 (1) lit. (a) of GDPR EUDATAP. If registration serves the contract fulfillment where the user is a party or the execution of pre-contractual measures, the additional legal basis for the processing of the data is Art. 6 (1) lit. (b) of GDPR EUDATAP.
		p
			| 3. Purpose of data processing
		p
			| Registration of the user is necessary to fulfill a contract with the user or carry out pre-contractual measures.
		p
			| 4. Duration of data storage
		p
			| The data will be deleted as soon as it is no longer necessary for the purpose of its collection. #[br]It is the case during the registration to fulfill a contract or carry out pre-contractual measures when the data is no longer necessary for the contract execution. Even after the contract conclusion, there may be a need to store personal data of the contracting party in order to comply with contractual or legal obligations.
		p
			| VI. Use of our webshop
		p
			| If you would like to order in our webshop, it is necessary for the contract conclusion that you give the personal data which we need for your order completion. Required data for contracts' processing are marked separately. Further information is voluntary. We process the data provided by you to process your order. For this purpose, we may pass on your data to third parties. The legal basis for this is Art. 6 (1) lit. (b) of GDPR EUDATAP: #[br]Due to commercial and tax regulations, we are obliged to store your address, payment data, and order data for a period of ten years. However, after two years we will restrict the processing of your data, i.e. your data will only be used to comply with legal obligations.
		p
			| VII. Contact form and e-mail contact
		p
			| 1. Description and extent of data processing
		p
			| Contact form which can be used for electronic contact is available on our website. If a user accepted this option, the data entered in the input mask will be transmitted to us and saved. These data are: #[br](1) E-Mail address #[br](2) Time of e-mail dispatch #[br]For data processing in the context of the sending process, your consent is obtained and referred to this privacy statement. #[br]Alternatively, the contact via the provided e-mail address is possible. In this case, the user's personal data transmitted by e-mail will be stored. #[br]In this context, there is no data disclosure to third parties. The data is used exclusively for processing the conversation.
		p
			| 2. Legal basis for data processing
		p
			| In the case of consent, the legal basis for processing the user's data is Art. 6 (1) lit. (a) of GDPR EUDATAP. The legal basis for the processing of data transmitted while sending an e-mail is Art. 6 (1) lit. (f) of GDPR EUDATAP. If the e-mail contact aims at the contract conclusion, then additional legal basis for data processing is Art. 6 (1) lit. (b) of GDPR EUDATAP.
		p
			| 3. Purpose of data processing
		p
			| The processing of the personal data from the input mask serves us only to process the contact. In the case of contact via e-mail, this also includes the required legitimate interest in the processing of the data. #[br]The other personal data processed during the sending process serve to prevent the misuse of the contact form and to ensure the security of our information technology systems.
		p
			| 4. Duration of data storage
		p
			| The data will be deleted as soon as it is no longer necessary for the purpose of its collection. For the personal data from the input form of the contact form and those sent by e-mail, this is the case when the respective conversation with the user has ended. The conversation is ended when it can be inferred from the circumstances that the relevant facts have been finally clarified. #[br]The additional personal data collected during the sending process will be deleted at the latest after a period of seven days.
		p
			| 5. Possibility of opposition and removal
		p
			| The user has the possibility at any time to revoke his consent to the processing of the personal data. If the user contacts us by e-mail, he/she may object to the storage of his personal data at any time. In such a case, the conversation cannot be continued. #[br]Contact us at the address given in the imprint or write an e-mail to support@royalfut.com #[br]All personal data stored in the course of establishing contact will be deleted in this case.
		p
			| VIII. Note about Google Analytics
		p
			| This website uses Google Analytics, a web analysis service of Google Inc. (Google). Google Analytics uses "cookies", which are text files placed on your computer, to help the website analyze how users use it. The information about your use of this website generated by cookies is usually transferred to a Google server in the USA and stored there. However, if IP anonymization is activated on this website, your IP address will be cut back by Google within member states of the European Union or in other states party to the Agreement on the European Economic Area. Only in exceptional cases will the full IP address be transmitted to a Google server in the USA and shortened there. On behalf of the operator of this website, Google will use this information to evaluate your use of the website, to compile reports on website activity and to provide the website operator with further services associated with website and Internet use. #[br]The IP address transmitted by your browser in the context of Google Analytics is not merged with other Google data. #[br]You may refuse the use of cookies by selecting the appropriate settings on your browser. However, we would like to point out that in this case you may not be able to use all functions of this website to their full extent. You can also prevent Google from collecting the data generated by the cookie and relating to your use of the website (including your IP address) and from processing this data by Google by downloading and installing the browser plug-in available under the following link: #[br]#[a(href="http://tools.google.com/dlpage/gaoptout?hl=de" rel="noindex, nofollow" target="_blank") http://tools.google.com/dlpage/gaoptout?hl=de].#[br] We use Google Analytics to analyze and improve the use of our website on regular basis. The statistics we collect allow us to improve our services and make them more interesting for you as a user. For the exceptional cases in which personal data is transferred to the USA, Google has submitted to the EU-US Privacy Shield, #[a(href="https://www.privacyshield.gov/EU-US-Framework" target="_blank") https://www.privacyshield.gov/EU-US-Framework]. #[br]The legal basis for the use of Google Analytics is Art. 6 (1) lit. (f) of GDPR EUDATAP. #[br]Third Party Information: Google Dublin, Google Ireland Ltd., Gordon House, Barrow Street, Dublin 4, Ireland, Fax: #[a(href="tel:+353 (1) 436 1001") +353 (1) 436 1001]. User terms: #[a(href="http://www.google.com/analytics/terms/de.html" rel="noindex, nofollow" target="_blank") http://www.google.com/analytics/terms/de.html], Overview of data protection: #[a(href="http://www.google.com/intl/de/analytics/learn/privacy.html" rel="noindex, nofollow" target="_blank") http://www.google.com/intl/de/analytics/learn/privacy.html], as well as the data protection declaration: #[a(href="http://www.google.de/intl/de/policies/privacy" target="_blank" rel="noindex, nofollow") http://www.google.de/intl/de/policies/privacy]. #[br]You can revoke your consent at any time with future effect by sending an e-mail to support@royalfut.com.
		p
			| IX. Your rights
		p
			| You have the following rights with respect to the personal data concerning you: #[br]1. Right of information #[br]2. Right of rectification or erasure #[br]3. Right of restriction of processing #[br]4. Right to object to the processing #[br]5. Right of data portability #[br]6. In addition, you may in principle revoke your prior consent to the collection, processing, and use of your personal data at any time with effect for the future. The revocation of consent does not affect the legality of the processing carried out based on the consent until the revocation.
		p
			| You also have the right to complain about our processing of your personal data at a data protection supervisory authority.
