div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Volver al sitio

	h2.site__title
		| ¿SIGUE TENIENDO PREGUNTAS?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| ¿Por qué debería decantarme por ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT le ofrece la forma más segura de reponer rápidamente el saldo de su club de FIFA Ultimate Team.
				p • Con nuestros precios, está a unos pocos clics de formar su equipo de ensueño.
				p • Garantizamos la seguridad de las compras y de su cuenta.
				p • El plazo medio de entrega no supera los 15 minutos.
				p • Entregamos monedas las 24 horas del día, los 365 días del año.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| ¿Cómo modifico los datos de mi cuenta de EA en el sitio web?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p En un teléfono:
				p 1. Abra el menú de la derecha tocando el botón de las tres barras.
				p 2. Toque su alias. Si no aparece ninguno, inicie sesión en su cuenta de ROYALFUT.
				p 3. En la parte inferior de la página de su perfil, aparecerá el formulario de entrada de datos de cuentas de EA.
				p En un dispositivo de escritorio:
				p 1. Haga clic en su alias en la esquina superior derecha de la pantalla. Si no aparece ninguno, inicie sesión en su cuenta de ROYALFUT.
				p 2. En la parte inferior de la página de su perfil, aparecerá el formulario de entrada de datos de cuentas de EA.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| ¿Cuándo recibiré las monedas?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p El plazo medio del método de tradeo cómodo no supera los 15 minutos.
				p El plazo medio de entrega del método de subasta de jugadores es de 40 minutos. Siga puntualmente y al pie de la letra las instrucciones para recibir las monedas lo antes posible.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| ¿Cómo utilizó el cupón de ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Puede aplicar el cupón en la fase de confirmación del pago. Cada cupón ofrece un descuento diferente. Una vez aplicado, el coste de la compra se modificará automáticamente.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| ¿Es seguro comprar monedas en ROYALFUT.COM?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Sí, totalmente seguro. Después de haber completado más de 5000 pedidos usando nuestros algoritmos de entrega, ningún usuario ha visto bloqueado o reiniciado su club de FUT.
				p También utilizamos sistemas de pago de terceros para aceptar pagos en el sitio web. Nuestros socios actuales, como PayPal o PayApp, utilizan cifrado para garantizar al 100 % la seguridad de sus pagos.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| ¿En qué países opera ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Entregamos monedas a jugadores de FUT de todo el mundo.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| ¿Compráis monedas de usuarios?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Por el momento, no. Anunciaremos cualquier novedad en este sentido.
