section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.payment
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Volver al sitio

	h1.site__title
		| Pago

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] acepta pagos en euros. Para realizar pagos en el sitio web es necesario haberse registrado.
		p Los pagos se organizan a través del sistemas internacionales #[a(href="https://payver.eu/" target="_blank" noindex) payver] y #[a(href="https://paypal.com/" rel="noindex, nofollow" target="_blank" noindex) paypal]. En nuestro sistema, todos los pagos se realizan con tarjeta bancaria, con independencia de su país o del banco en el que se haya emitido la tarjeta. Puede elegir la forma de pago que mejor le venga.
		p Puede tener la certeza de que su dinero estará seguro cuando adquiera nuestro producto digital.
		p No es posible devolver ni cancelar pedidos pagados.
