div.faq#faq
	//a.site__back.btn(href=url)
	//	+svg("arrow-left")
	//	span Torna al sito

	h2.site__title
		| QUALCHE DOMANDA?

	.accordion.js-accordion(role="presentation" data-accordion-only-one="true")
		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-1(role="button" aria-expanded="false" aria-controls="accordion-content-1" href="#accordion-content-1")
					| Perché scegliere ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-1(role="region" aria-labelledby="accordion-heading-1" aria-hidden="true")
				p ROYALFUT è il modo più sicuro per ricaricare rapidamente il saldo del tuo club FIFA Ultimate Team.
				p • Grazie ai nostri prezzi puoi creare il team dei tuoi sogni con pochi clic
				p • Garantiamo la sicurezza dell'acquisto e del tuo account
				p • Il tempo medio di consegna non supera i 15 minuti
				p • Le consegne di crediti sono attive 24/7/365.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-3(role="button" aria-expanded="false" aria-controls="accordion-content-3" href="#accordion-content-3")
					| Come posso modificare i dettagli del mio account EA sul sito web?
			.accordion__content.js-accordion-content#accordion-content-3(role="region" aria-labelledby="accordion-heading-3" aria-hidden="true")
				p Sul telefono:
				p 1. Apri il menu a destra toccando il pulsante con le tre barrette orizzontali.
				p 2. Tocca il tuo nome utente. Se non vedi il nome utente, accedi al tuo account ROYALFUT.
				p 3. Nella parte inferiore della pagina del profilo verrà visualizzato il modulo di inserimento dei dati dell'account EA.
				p Su un computer fisso:
				p 1. Fai clic sul tuo nome utente nell'angolo superiore destro dello schermo. Se non vedi il nome utente, accedi al tuo account ROYALFUT.
				p 2. Nella parte inferiore della pagina del profilo verrà visualizzato il modulo di inserimento dei dati dell'account EA.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-4(role="button" aria-expanded="false" aria-controls="accordion-content-4" href="#accordion-content-4")
					| Quando riceverò le crediti?
			.accordion__content.js-accordion-content#accordion-content-4(role="region" aria-labelledby="accordion-heading-4" aria-hidden="true")
				p Il tempo medio per la consegna con il metodo Scambio comfort non supera i 15 minuti.
				p Il tempo medio per la modalità Asta dei giocatori è di 40 minuti. Segui scrupolosamente le istruzioni per ricevere le crediti più rapidamente possibile.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-5(role="button" aria-expanded="false" aria-controls="accordion-content-5" href="#accordion-content-5")
					| Come posso utilizzare il mio coupon ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-5(role="region" aria-labelledby="accordion-heading-5" aria-hidden="true")
				p Puoi applicare il coupon in fase del pagamento. Ogni coupon offre uno sconto diverso. Dopo aver applicato il coupon, il prezzo del tuo acquisto verrà automaticamente aggiornato.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-6(role="button" aria-expanded="false" aria-controls="accordion-content-6" href="#accordion-content-6")
					| L'acquisto di crediti su ROYALFUT.COM è sicuro?
			.accordion__content.js-accordion-content#accordion-content-6(role="region" aria-labelledby="accordion-heading-6" aria-hidden="true")
				p Sì, è completamente sicuro. Dopo più di 5.000 ordini completati utilizzando i nostri algoritmi di consegna, nessun utente ha mai avuto un ban o un reset del club FUT.
				p Inoltre utilizziamo affidabili sistemi di pagamento di terzi per ricevere i pagamenti sul sito web. I nostri partner attuali, come PayPal o PayApp, utilizzano la crittografia per garantire la sicurezza dei pagamenti al 100%.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-8(role="button" aria-expanded="false" aria-controls="accordion-content-8" href="#accordion-content-8")
					| In quali Paesi è disponibile ROYALFUT?
			.accordion__content.js-accordion-content#accordion-content-8(role="region" aria-labelledby="accordion-heading-8" aria-hidden="true")
				p Le consegne di crediti sono disponibili per i giocatori di FUT in tutto il mondo.

		.accordion__container
			.accordion__heading(role="heading")
				a.btn.js-accordion-btn#accordion-heading-9(role="button" aria-expanded="false" aria-controls="accordion-content-9" href="#accordion-content-9")
					| Comprate crediti dagli utenti?
			.accordion__content.js-accordion-content#accordion-content-9(role="region" aria-labelledby="accordion-heading-9" aria-hidden="true")
				p Al momento no; pubblicheremo un aggiorneremo se la situazione dovesse cambiare.
