section.main.site__col-12.site__col-lg-7.site__col-xl-7.site__col-xxl-6.offset-xl-1.offset-xxl-2.payment
	a.site__back.btn(href=url)
		+svg('arrow-left')
		span Torna al sito

	h1.site__title
		| Pagamento

	.site__text
		p #[a(href="https://royalfut.com" target="_blank") ROYALFUT.COM] accetta pagamenti in euro. Solo gli utenti registrati possono eseguire pagamenti sul sito web.
		p I pagamenti sono gestiti attraverso i sistemi di pagamento internazionali #[a(href="https://payver.eu/" target="_blank" noindex) payver] e #[a(href="https://paypal.com/" rel="noindex, nofollow" target="_blank" noindex) paypal], che supportano tutti i pagamenti con carte bancarie indipendentemente dal Paese e dalla banca emittente. Per il pagamento degli ordini puoi scegliere il metodo che preferisci.
		p Acquistando il nostro prodotto digitale hai la tranquillità di sapere che i tuoi soldi sono al sicuro.
		p Non sono possibili resi o annullamenti degli ordini pagati.
